/* @charset "utf-8"; */
/* @import url("https://fonts.googleapis.com/css?family=family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap"); */

#main-container {
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.siteHeader {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 8;
  margin: 0 auto;
  /* box-shadow: -3px 0px 8px #1c1c1c; */
  /* background-color: #1c1c1c; */
  padding: 0 30px;
  width: 100%;
}

.containerHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.logo {
  display: flex;
  align-items: center;
  width: 200px;
  height: 70px;
}

.logo img {
  width: 75px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
  outline: none;
  background-color: #ff5567;
  padding: 10px 15px;
  width: 73px;
  height: 73px;
  color: #a3a3a3;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.searchInput {
  display: block;
  outline: none;
  border: none;
  background-position: right;
  background-color: transparent;
  padding: 9px 4px 9px 20px;
  width: 100%;
}

.glass {
  z-index: 1;
  cursor: pointer;
  background-image: url('/images/search-white.png');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.menu-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 70px;
}

.menuPpal {
  display: flex;
  height: 100%;
}

.menuPpal a {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: all 0.15s ease-in-out;
  padding: 0 10px 0;
  /*  */
  /* font-weight: 300; */
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}

.menuPpal a .imageMenu {
  display: block;
  margin: 0 auto 5px;
  width: 26px;
  height: 26px;
  overflow: hidden;
}

.menuPpal a:hover,
.menuPpal a.active {
  /* border-bottom: 3px solid #2467ff; */
  /*  */
}

.menuPpal a > div img {
  transition: all 0.15s linear;
  width: 100%;
}
/* .menuPpal a:hover > div img,
.menuPpal a.active > div img {
  margin-top: -34px;
} */

.smallNumber {
  display: flex;
  display: none;
  position: absolute;
  top: 5px;
  right: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ff5567;
  width: 20px;
  height: 20px;
  
  font-size: 13px;
}

@media only screen and (max-width: 1025px) {
  .siteHeader {
    padding-right: 0;
  }
}

@media only screen and (max-width: 768px) {
  #main-container {
    margin: 0 auto;
    width: 100%;
    height: auto;
  }

  .siteHeader {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    z-index: 9;
    margin: 0 auto;
    /* box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.12);
    background: #1c1c1c; */
    padding: 15px 00;
    width: 100%;
    height: auto;
  }

  .containerHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
  }

  .logo {
    padding-left: 20px;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .search {
    position: fixed;
    top: 0%;
    right: 0%;
    margin: 0;
    outline: none;
    width: 70px;
    height: 70px;
    font-size: 16px;
  }

  input.search {
    display: block;
    border: none;
    background: transparent url('/images/search.svg') no-repeat 13px;
    background-position: right;
    padding: 0px;
    width: 100%;
  }

  .menu-top {
    display: flex;
    position: fixed;
    bottom: 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    /* box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.12);
    background: #1c1c1c;
    background-color: #1c1c1c; */
    padding: 10px 0 0;
    width: 100%;
    height: auto;
  }

  .menuPpal {
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    width: 80%;
    overflow: hidden;
  }

  .menuPpal a {
    padding: 5px 5px 10px;
    width: 25%;
    font-size: 10px;
  }

  .menuPpal a div.imageMenu {
    height: 33px;
    overflow: hidden;
  }

  .menuPpal a:hover {
    border-bottom: 3px solid #2467ff;
    
  }


  .logo img {
    width: 70px;
    height: auto;
  }

  .menuPpal {
    gap: 2%;
  }

  .smallNumber {
    right: 0px;
  }
}

@media only screen and (max-width: 375px) {
  .menuPpal {
    gap: unset;
    width: 100%;
  }
}

/*@media only screen and (max-width: 1380px) {

  .siteHeader{
    padding: 0;
    border-radius: 0;
  }

  .logo {
    padding-left: 20px;
  }

  .menuPpal a {
    font-size: 10px;
    padding: 5px 5px 20px;
  }

  .menu-top {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    position: fixed;
    bottom: -4px;
    background-color: #1c1c1c;
    padding-top: 20px;
    box-shadow: none;
    border-radius: 0;
  }
}

@media only screen and (max-width: 1065px) {
  .siteHeader{
    padding: 0;
    border-radius: 0;
  }

  .menuPpal a {
    font-size: 9px;
    padding: 5px 5px 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
  .menuPpal a {
    font-size: 12px;
    padding: 5px 5px 20px;
  }

  .search {
    width: 40%;
    height: 50px;
    margin: 0;
    font-size: 16px;
    outline: none;
    margin-right: 20px;
  }


  .siteHeader{
    padding: 0;
    border-radius: 0;
  }
}*/
