/* @charset "utf-8"; */
/* @import url("https://fonts.googleapis.com/css?family=family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap"); */

#main-container {
  width: 100%;
  margin: 0 auto;
  height: auto;
}

.siteHeader {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: -3px 0px 8px #1c1c1c;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  background-color: #1c1c1c;
  padding: 0 0 0 30px;
}

.containerHeader {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 200px;
  height: 70px;
  display: flex;
  align-items: center;
}

.logo img {
  width: 75px;
}

.search {
  width: 73px;
  height: 73px;
  background-color: #ff5567;
  font-size: 18px;
  font-weight: 500;
  color: #a3a3a3;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 15px;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  margin-left: 10px;
  cursor: pointer;
}

.searchInput {
  width: 100%;
  display: block;
  padding: 9px 4px 9px 20px;
  background-color: transparent;
  border: none;
  background-position: right;
  outline: none;
}

.glass {
  background-image: url('/images/search-white.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1;
}

.menu-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.menuPpal {
  display: flex;
}

.menuPpal a {
  color: #777;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  padding: 0 10px 0;
  position: relative;
  transition: all 0.15s ease-in-out;
}

.menuPpal a .imageMenu {
  width: 33px;
  height: 33px;
  display: block;
  margin: 0 auto 5px;
  overflow: hidden;
}

.menuPpal a:hover,
.menuPpal a.active {
  color: #fff;
  border-bottom: 3px solid #2467ff;
}

.menuPpal a > div img {
  transition: all 0.15s linear;
  width: 100%;
}
.menuPpal a:hover > div img,
.menuPpal a.active > div img {
  margin-top: -33px;
}

.smallNumber {
  background-color: #ff5567;
  border-radius: 50%;
  color: #fff;
  font-size: 13px;
  position: absolute;
  top: 5px;
  right: 15px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1380px) {
  #main-container {
    width: 100%;
    margin: 0 auto;
    height: auto;
  }

  .siteHeader {
    width: 100%;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #1c1c1c;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.12);
    z-index: 9;
    position: fixed;
    padding: 0;
  }

  .containerHeader {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    padding-left: 20px;
  }

  .search {
    width: 70px;
    height: 70px;
    margin: 0;
    font-size: 16px;
    outline: none;
    position: fixed;
    top: 0%;
    right: 0%;
  }

  input.search {
    width: 100%;
    display: block;
    padding: 0px;
    background: transparent url('/images/search.svg') no-repeat 13px;
    border: none;
    background-position: right;
  }

  .menu-top {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    position: fixed;
    bottom: 0;
    background-color: #1c1c1c;
    padding-top: 20px;
    border-radius: 10px 10px 0px 0px;
    background: #1c1c1c;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.12);
  }

  .menuPpal {
    width: 80%;
    gap: 10%;
    flex-direction: row;
    justify-content: center;

    overflow: hidden;
  }

  .menuPpal a {
    width: 20%;
    color: #fff;
    font-size: 10px;
    padding: 5px 5px 20px;
  }

  .menuPpal a div.imageMenu {
    height: 33px;
    overflow: hidden;
  }

  .menuPpal a:hover {
    color: #fff;
    border-bottom: 3px solid #2467ff;
  }

  .menuPpal a:hover > div img {
    margin-top: -36px;
  }
}

@media only screen and (max-width: 768px) {
  .logo img {
    width: 45px;
    height: 19px;
  }

  .menuPpal {
    gap: 2%;
  }

  .smallNumber {
    right: 0px;
  }
}

/*@media only screen and (max-width: 1380px) {

  .siteHeader{
    padding: 0;
    border-radius: 0;
  }

  .logo {
    padding-left: 20px;
  }

  .menuPpal a {
    font-size: 10px;
    padding: 5px 5px 20px;
  }

  .menu-top {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    position: fixed;
    bottom: -4px;
    background-color: #1c1c1c;
    padding-top: 20px;
    box-shadow: none;
    border-radius: 0;
  }
}

@media only screen and (max-width: 1065px) {
  .siteHeader{
    padding: 0;
    border-radius: 0;
  }

  .menuPpal a {
    font-size: 9px;
    padding: 5px 5px 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
  .menuPpal a {
    font-size: 12px;
    padding: 5px 5px 20px;
  }

  .search {
    width: 40%;
    height: 50px;
    margin: 0;
    font-size: 16px;
    outline: none;
    margin-right: 20px;
  }


  .siteHeader{
    padding: 0;
    border-radius: 0;
  }
}*/
