.doc-perfil {
  width: 90%;
  margin: 0 auto;
  max-width: 1600px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 150px 0 50px;
}

.editar-perfil {
  width: calc(30% - 20px);
  height: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 20px;
  padding-top: 20px;
  border-radius: 35px;
  /* background: #2e2e2c;
  box-shadow:
    0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
  backdrop-filter: blur(7.5px);
}

.perfil-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: auto;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.perfil-img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 35px;
  overflow: hidden;
}

.perfil-img img {
  width: 100%;
}

.id-perfil img {
  margin-right: 20px;
  width: 40px;
}

.name-perfil {
  font-size: 20px;
  text-align: center;
  margin: 0 auto 20px;
}
.sub-name {
  font-size: 18px;
  font-weight: 300;
  columns: #4d4d4d;
  text-align: center;
  margin-bottom: 30px;
  margin: 0 auto;
  line-height: 50px;
}

.id-perfil {
  width: 100%;
  height: auto;
  margin-top: 50px;
  font-size: 18px;
  font-weight: 200;

  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.documentacion-requerida {
  width: calc(70% - 25px);
  border-radius: 20px;
  height: auto;
  margin-top: 20px;
}

.doc-top {
  width: 95%;
  text-align: center;
  padding: 20px 0;
  margin: 0 auto;
  margin-bottom: 55px;
}

.doc-title {
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}

.doc-wrap {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.archivo {
  width: 40%;
  text-align: center;
  margin: 0 auto;
  padding: 30px 0 50px;
}

.doc-list {
  width: 50%;
}

.load {
  width: 70%;
  height: auto;
  margin: 0 auto;
  padding: 75px 20px 40px;
  border: 2px dashed #fff;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 400;

  text-align: center;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.load img {
  margin-bottom: 30px;
}

button.upload-file {
  width: 50%;
  height: auto;
  font-size: 14px;
  padding: 10px 20px;

  text-align: center;
  border: 1px solid #2467ff;
  border-radius: 5px;
  background-color: #565555;
  font-family: 'Lexend', sans-serif;
  margin-top: 30px;
}

.top-cedula {
  width: 90%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #4d4d4d;
  padding: 0 20px 20px;
  margin-bottom: 10px;
}

.certificado {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.certificado-top {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}
.title-cert {
  font-size: 16px;
  font-weight: 600;

  line-height: 30px;
  display: flex;
  align-items: center;
}

.check-mark {
  display: flex;
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.check-mark.active {
  background-image: url(/images/check-mark-documentation.png);
  background-size: 25px 25px;
}

.cert-pdf {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 35px;
  font-size: 16px;
  font-weight: 400;

  line-height: 30px;
  margin-bottom: 10px;
}

.title-pdf {
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
}
.icons-pdf {
  width: 15%;
  display: flex;
  justify-content: space-around;
}

.buttons {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

.clip-icon {
  width: 25px;
  height: 25px;
  background-image: url(/images/paper-clip-b.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.delete-icon {
  width: 25px;
  height: 25px;
  background-image: url(/images/delete.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.buttons > button {
  width: 48%;
}

.cancelar {
  width: 45%;
  height: 50px;

  font-size: 12px;
  font-weight: 500;

  margin-top: 30px;
  padding: 10px 30px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(0deg, #2467ff, #00bdff) border-box;
  border-radius: 1em;
  border: 2px solid transparent;
}

.guardar {
  width: 45%;
  height: 50px;

  font-size: 12px;
  font-weight: 500;

  border-radius: 10px;
  border: 1px solid #2467ff;

  margin-top: 30px;
  padding: 10px 30px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-content {
  font-size: 20px;
  text-align: left;
  /* background-color: #282624; */
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 70px;
  z-index: 3;
}

.top-content .icon {
  /* background-image: url(/images/back.svg); */
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.title {
  width: calc(100% - 40px);
}

.doc-title-movil {
  display: none;
}

.title-cert-selected {
  font-size: 16px;
  font-weight: 400;

  line-height: 30px;
  margin: 0 auto;
  padding: 20px 0;
}

/* csv */

.uploadButtons {
  display: flex;
  width: 100%;
  height: auto;
  gap: 4%;
}

.text-origen {
  font-size: 16px;
}

.subir {
  width: 50%;
  height: auto;
  padding: 10px;
  border: 1px solid #2467ff;
  background-color: #2467ff;
  border-radius: 5px;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  font-weight: 900;
}

.disabledButton {
  width: 50%;
  height: auto;
  padding: 10px;
  border: 1px solid #2467ff;
  border-radius: 5px;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  background-color: #cccccc;
  border-color: #cccccccc;
  color: #fff;
  cursor: not-allowed;
  font-weight: 900;
}

.icon-box .subir {
  width: 30% !important;
  padding: 15px 10px;
}

.icon-box .subir {
  width: 30% !important;
  padding: 15px 10px;
}

.projectDocument {
  max-height: 0px;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
  margin-bottom: 0px;
}

.showXlsx.projectDocument {
  max-height: 300px;
  margin-top: 25px;
}

.projectUploaded {
  margin-top: 10px;
  font-weight: 300;
  width: 100%;
}

.backroundSide {
  background-color: #f2f2f2;
  padding: 10px 20px;
}

.xlsxIcon {
  width: 25px;
  height: 25px;
  margin-right: 15px;
  background-image: url(/images/xlsx.png);
}

.deleteXlsxUploaded {
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-image: url(/images/delete.png);
}

/* popup*/

.popSuccessCreated,
.popError {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition:
    top 0s linear 0.5s,
    opacity 0.5s ease-in-out;
}

.popSuccessCreated.activePopUp {
  top: 0;
  opacity: 1;
  transition:
    top 0s linear.0s,
    opacity 0.5s ease-in-out;
}

.popError.activePopUp {
  top: 0;
  opacity: 1;
  transition:
    top 0s linear.0s,
    opacity 0.5s ease-in-out;
}

.bgPopUp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000055;
}

.popup2 {
  margin: 70px auto;
  padding: 50px 68px;
  border-radius: 5px;
  width: 30%;
  height: auto;
  position: relative;
  transition: all 5s ease-in-out;
  z-index: 9;
  top: 0px;
  text-align: center;
  border-radius: 10px;
  background: #343434;
  box-shadow: 0px 0px 46.667px 0px rgba(0, 0, 0, 0.25);
}

.popup3 {
  margin: 70px auto;
  padding: 50px 20px;
  border-radius: 5px;
  width: 30%;
  height: auto;
  position: relative;
  transition: all 5s ease-in-out;
  z-index: 9;
  top: 0px;
  text-align: center;
  border-radius: 10px;
  background: #343434;
  box-shadow: 0px 0px 46.667px 0px rgba(0, 0, 0, 0.25);
}

.popup {
  margin: 70px auto;
  padding: 40px 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  height: auto;
  position: relative;
  transition: all 5s ease-in-out;
  z-index: 9;
  top: 0px;
  text-align: center;
}

.popup h2 {
  margin-top: 0;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.pop-text {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.86;
  margin-top: 20px;
}

.pop-text-bold {
  font-weight: 700;
}

.popup .close {
  position: absolute;
  top: 0;
  right: 30px;
  transition: all 200ms;
  font-size: 50px;
  font-weight: 100;
  text-decoration: none;
}
.popup .close:hover {
}
.popup .content {
  overflow: auto;
}

.icon-box {
  margin: 0 auto;
  color: #c7c7c7;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.icon-box img {
  width: 80px;
  height: 80px;
}

.icon-box .subir {
  width: 30% !important;
  padding: 15px 10px;
}

/* PDF */

.iframe-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.iframe-popup-content {
  position: relative;
  width: 65%;
  height: 90%;
  padding: 35px 20px 20px 20px;
  background: #343434;
  box-shadow:
    0px 0px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.iframe-close {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-image: url(/images/close-white.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.error {
  width: 100%;
  font-size: 18px;

  font-weight: 500;
  text-align: center;
}

.blue-border {
  width: 100%;
  height: 200px;
  border: 1px dashed #ccc;
  border-radius: 10px;
  padding: 30px 50px;
  text-align: center;
  font-size: 18px;
  color: #c7c7c7 !important;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: all 0.15s ease-in-out;
}

.activeZone.blue-border {
  border: 2px dashed #2466ff;
  transform: scale(1.01);
}

.blue-border img {
  margin-bottom: 20px;
  width: 63px;
  height: 58px;
}

@media only screen and (max-width: 1024px) {
  .doc-perfil {
    padding-top: 140px;
    padding-bottom: 140px;
  }

  .editar-perfil {
    display: none;
  }

  .documentacion-requerida {
    width: 100%;
  }

  .doc-list {
    width: 90%;
  }

  .doc-top {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 16px;
  }

  .doc-title-movil {
    display: block;

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 0.78;
    font-weight: 700;
  }

  .doc-title {
    font-size: 14px;
    font-weight: 600;
  }

  .archivo {
    display: none;
  }

  .top-cedula {
    width: 100%;
  }

  .certificado {
    width: 100%;
  }

  .buttons {
    width: 90%;
  }
}
