.wrap-crear {
  width: 85%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  color: #fff;
  /* box-shadow: 2px 2px 6px #131312; */
  border-radius: 15px;
}

.creacion-oportunidad {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  position: absolute;
  z-index: 3;
  background-position: top center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.crear {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  background: none;
  z-index: 11;
  position: relative;
  box-shadow: none;
  top: 0;
  gap: 7vw;
}

.crear-tipo {
  display: flex;
  flex-direction: column;
  width: calc(95% - 20px);
  min-height: 100px;
  height: auto;
  margin: 0 auto;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 15px;
  text-align: left;
  padding: 0px;
}

.tipo-unit {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: transparent;
  text-align: left;
  margin-top: 10px;
}

.creacion-title {
  margin-bottom: 10px;
}
.tipo-unit.informacion {
  width: calc(80% - 20px);
  min-height: 100px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #565555;
  box-shadow: none;
  border-radius: 15px;
  margin-top: 40px;
  text-align: left;
  padding: 20px;
}

.tipos {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  columns: #4d4d4d;
  text-align: left;
  margin-bottom: 20px;
}

.tipos span {
  margin-bottom: 10px;
}

.img-tipo {
  width: 40%;
  height: 144px;
  overflow: hidden;
  margin-right: 1vh;
  border-radius: 10px;
}

.img-tipo img {
  overflow: hidden;
  object-fit: contain;
}

.tipo-info {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.contacto {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin: 0 auto;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;
  font-size: 14px;
}

.conecta {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tipo-title {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.message {
  width: 50%;
  height: 80px;
  border-radius: 10px;
  box-shadow: 2px 2px 6px #c7c7c7 !important;
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  padding: 10px;
  background-color: #565555;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
  justify-content: space-evenly;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  display: none;
}

.showMiniPop {
  opacity: 1;
  visibility: visible;
}

.valor {
  font-size: 14px;
  color: #fff;
  font-weight: 200;
  margin-top: 20px;
}

.detalles {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 14px;
  color: #fff;
  font-weight: 200;
  text-align: left;
  margin-top: 10px;
}

.detalles img {
  width: 20px;
  height: 20px;
}

.detalles img:last-of-type {
  margin-left: 15px;
}

.detalles span {
  margin: 0 10px 0 10px;
}

.left-side {
  width: 60%;
  height: auto;
  padding: 25px 35px 40px;

  border-radius: 15px;
  background-color: #343434;

  box-shadow:
    0px 0px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
}

.crear-tipo {
  width: 100%;
}

.right-side {
  width: 45%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  backdrop-filter: blur(10px);
  min-height: 65vh;
  border-radius: 15px;
  background: #343434;
  box-shadow:
    0px 0px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
}

.conecta {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.crear-contacto {
  width: 50%;
  margin: 30px 20px 0;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.contacto-existente {
  width: 70%;
  height: 50px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 7px;
  border: 1px solid #2467ff;
  text-transform: uppercase;
  margin-top: 30px;
  padding: 10px 30px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  background-color: #2467ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacto-existente {
  width: 48%;
  margin: 0 0;
}

.contact {
  width: 70% !important;
  margin-top: 30px;
  display: flex;
  justify-content: start !important;
  align-items: start !important;
}

.user-evento {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lista-evento {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 20px;
}

.lista-evento span {
  color: #777777;
  font-size: 12px !important;
}

.crear-cotizacion {
  width: 48%;
  height: 50px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px 30px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: #41434300;
}
.img-tipo {
  width: 30%;
  height: 144px;
  overflow: hidden;
  margin-right: 1vh;
  border-radius: 10px;
  position: relative;
}

.img-tipo img {
  overflow: hidden;
  object-fit: contain;
  width: 100%;
  position: relative;
}

.add {
  width: 10%;
  height: 40px;
  background-image: url(/images/add-tipo.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.img-tipo-glass {
  position: absolute;
  height: 37px;
  width: 37px;
  background-image: url(/images/tipo-glass-pink.svg);
  top: 2px;
  right: 2px;
  z-index: 2;
}

/* popup*/

.popSuccessCreated, .popError {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition:
    top 0s linear 0.5s,
    opacity 0.5s ease-in-out;
}

.popSuccessCreated.activePopUp {
  top: 0;
  opacity: 1;
  transition:
    top 0s linear.0s,
    opacity 0.5s ease-in-out;
}

.popError.activePopUp {
  top: 0;
  opacity: 1;
  transition:
    top 0s linear.0s,
    opacity 0.5s ease-in-out;
}

.bgPopUp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000055;
}

.popup2 {
  margin: 70px auto;
  padding: 50px 68px;
  border-radius: 5px;
  width: 30%;
  height: auto;
  position: relative;
  transition: all 5s ease-in-out;
  z-index: 9;
  top: 0px;
  text-align: center;
  border-radius: 10px;
  background: #343434;
  box-shadow: 0px 0px 46.667px 0px rgba(0, 0, 0, 0.25);
}

.popup3 {

  margin: 70px auto;
  padding: 50px 20px;
  border-radius: 5px;
  width: 30%;
  height: auto;
  position: relative;
  transition: all 5s ease-in-out;
  z-index: 9;
  top: 0px;
  text-align: center;
  border-radius: 10px;
  background: #343434;
  box-shadow: 0px 0px 46.667px 0px rgba(0, 0, 0, 0.25);

}

.popup {
  margin: 70px auto;
  padding: 40px 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  height: auto;
  position: relative;
  transition: all 5s ease-in-out;
  z-index: 9;
  top: 0px;
  text-align: center;
}

.popup h2 {
  margin-top: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.pop-text {
  color: #FFF;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 1.86;
margin-top: 20px;
}

.pop-text-bold {
  font-weight: 700; 
}

.popup .close {
  position: absolute;
  top: 0;
  right: 30px;
  transition: all 200ms;
  font-size: 50px;
  font-weight: 100;
  text-decoration: none;
  color: #fff;
}
.popup .close:hover {
  color: #fff;
}
.popup .content {
  overflow: auto;
}

.icon-box {
  margin: 0 auto;
  color: #c7c7c7;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.icon-box img {
  width: 80px;
  height: 80px;
}


.icon-box .subir {
  width: 30% !important;
  padding: 15px 10px;
}


@media only screen and (max-width: 768px) {
  .wrap-crear {
    width: 100%;
    padding: 15px 15px 25px;
  }

  .crear {
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 0px;

    gap: 0px;
  }
  .crear-tipo {
    background: #343434;
    box-shadow:
      0px 0px 4px 0px rgba(0, 0, 0, 0.25),
      0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2.5px);
    padding: 18px;
  }

  .tipo-unit {
    background: transparent;
  }

  .tipo-title {
    font-size: 11px;
  }

  .tipo-info {
    padding: 0 0 0 10px;
  }

  .tipos {
    margin-bottom: 0px;

    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.45;
  }

  .valor {
    font-style: normal;
    font-weight: 500;
    line-height: 1.6;
  }

  .left-side {
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    backdrop-filter: none;
    padding: 0px;
  }

  .right-side {
    width: 100%;
    background-color: transparent;
    backdrop-filter: none;
    margin-top: 0px;
  }

  .img-tipo {
    margin-right: 0px;
  }

  .img-tipo img {
    width: auto;
  }

  .add {
    background-position: center;
  }

  .conecta {
    flex-direction: column;
    gap: 8px;
  }

  .contacto-existente {
    width: 90%;
  }

  .crear-cotizacion {
    width: 90%;
  }

  .img-tipo-glass {
    width: 32px;
    height: 32px;
    background-size: contain;
  }
}
