.filterPopUp {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: -100%;
}

.filterPopUp.active {
  top: 0;
}

.filterBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 34, 29, 0.6);
  opacity: 0;
  backdrop-filter: blur(10px);
  transition: all 0.5s ease-in-out;
}

.active .filterBackground {
  opacity: 1;
}

.wrapperFilter {
  position: relative;
  width: 40%;
  border-radius: 35px 0px 0px 35px;
  height: 100%;
  background: rgba(33, 34, 29, 0.8);
  padding: 20px 40px 40px;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  border-radius: 35px 0px 0px 35px;
  /*border: 1px solid #c7c7c7;*/
  transition: all 0.5s ease-in-out;
}

.active .wrapperFilter {
  transform: translateX(0%);
}

.closeFilter {
  width: 25px;
  height: 25px;
  background-image: url(/images/close.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  margin: 0 0 0 auto;
  position: sticky;
  top: 0;
  right: 0;
}

.filterGroups {
  width: 100%;
  position: relative;
  margin-bottom: 25px;
  margin-top: 10px;
}

.filterGroup {
  width: 100%;
  position: relative;
  display: block;
}

.labelFilter {
  width: 100%;
  display: block;
  position: relative;
}

.labelText {
  width: 100%;
  text-align: left;
  margin-bottom: 25px;
  display: block;
  font-weight: 700;
  
}

.labelTextRange {
  margin-bottom: 25px;
}

.ubicationSelect {
  width: 100%;
  padding: 15px;
  padding-right: 25px;
  appearance: none;
  background-color: transparent;
  border: 0.5px solid #4d4d4d;
  border-radius: 5px;
  background-image: url(/images/arrow_select.png);
  background-size: 15px;
  background-position: 98% 50%;
  background-repeat: no-repeat;
  display: block;
  color: #000;
}

.ubicationSelect option {
  color: #000;
}

.rangeTrack {
  height: 20px;
  display: 'flex';
  width: calc(100% - 10px);
  margin-left: 7.5px;
}

.filterGroupDrops {
  display: flex;
}

.dropDownGrpup {
  width: 48%;
}

.labelsRangeSlider {
  
}

.advancedSearch {
  width: 100%;
  height: 50px;
  /*background-color: #f9f9f9;*/
  background-color: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 400;
  color: #d9d9d9;
  line-height: 1.20115;

  text-align: center;
  padding: 10px 15px;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;

  border-radius: 5px;
  border: 0.5px solid #fff;
  text-align: center;

  margin-bottom: 70px;
}

.advancedSearchInput {
  width: 100%;
  display: block;
  padding: 9px 4px 9px 20px;
  background-color: transparent;
  border: none;
  background-position: right;
  outline: none;

  color: #d9d9d9;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.20115;
}

.glass {
  background-image: url('/images/search.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.topClearText {
  width: 100%;
  height: fit-content;

  
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 0.45;
  text-decoration-line: underline;

  margin-bottom: 50px;
}

.advancedDropdownTop {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  margin-bottom: 40px;
}

.advancedDropdownText {
  width: fill-available;
  
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 0.5;
}

.advancedIconSelect {
  width: 17px;
  height: 33px;
  appearance: none;
  background-color: transparent;
  background-image: url(/images/advancedFilter_arrow_up.svg);
  /*transform: translate(-50%, -50%) scaleY(-1);
  top: 65%;
  left: 50%;*/

  background-size: 17px;
  background-position-y: center;
  background-repeat: no-repeat;
  display: block;
  
}

.advancedLabelFilter {
  width: 100%;
  display: block;
  position: relative;

  margin-bottom: 40px;
}

.advancedLabelText {
  width: 100%;
  text-align: left;
  margin-bottom: 40px;
  display: block;

  
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 0.5;
}

.advancedProjectSelect {
  width: 100%;
  padding: 15px;
  padding-right: 25px;
  appearance: none;
  background-color: transparent;
  
  border-radius: 5px;
  background-image: url(/images/advancedFilter_arrow_down.svg);
  background-size: 15px;
  background-position: 98% 50%;
  background-repeat: no-repeat;
  display: block;
  color: #d9d9d9;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.20115;
}

.advancedCheckContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 60px;
  align-items: center;
}

.checkboxText {
  width: fit-content;
  height: fit-content;
  text-align: center;
  
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 0.61;

  margin: 0px 32px 0px 7px;
}

.checkboxInput {
  display: none;
}

.checkboxLabel {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.checkboxInput:checked + .checkboxLabel {
  background-color: white;
}

.advancedRangeInput {
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  margin-bottom: 40px;
}

.advancedRangeText {
  
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 0.61;

  margin: 0px 55px 0px 0px;
}

.checkboxLabelSquare {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  cursor: pointer;
}

.checkboxInput:checked + .checkboxLabelSquare {
  background-color: white;
}

.advancedDate {
  width: 100%;
  height: 50px;
  background-color: none;
  font-size: 18px;
  font-weight: 400;
  color: #d9d9d9;
  line-height: 1.20115;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;

  border-radius: 5px;
  border: 0.5px solid #fff;
  text-align: center;

  margin-bottom: 50px;
}

.advancedDateInput {
  width: 100%;
  display: block;
  padding: 9px 4px 9px 20px;
  background-color: transparent;
  border: none;
  background-position: right;
  outline: none;

  color: #d9d9d9;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.20115;
}

.advancedDateInputDual {
  width: max-content;
  display: block;
  padding: 9px 4px 9px 20px;
  background-color: transparent;
  border: none;
  background-position: right;
  outline: none;

  color: #d9d9d9;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.20115;
  text-align: left;
}

.dualRange {
  display: flex;
  flex-direction: row;

  gap: 75px;
}

.rangeStateColdIcon {
  width: 19px;
  height: 33px;
  background-image: url(/images/advanced_filter_cold_icon.svg);
  margin-bottom: 40px;
}

.rangeStateHotIcon {
  width: 30px;
  height: 33px;
  background-image: url(/images/advanced_filter_hot_icon.svg);
  margin-bottom: 40px;
}

.advancedButtonsFilter {
  width: 100%;
  height: fit-content;

  margin-top: 70px;
}

.dropdownContainer {
  position: relative;

  transition: all 0.5s ease-in-out;
}

.dropdownContent {
  display: none;
  height: 0%;
}

.dropdownContent.show {
  display: flex;

  width: 100%;
  height: fit-content;
  flex-direction: column;
  flex-wrap: nowrap;
}
