.crear {
  width: 50%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 15px 25px;
  background-color: #343434;
  color: #fff;
  border-radius: 15px;
  position: relative;
  z-index: 10;
}

.crear-tipo {
  display: flex;
  flex-direction: column;
  width: calc(95% - 20px);
  min-height: 100px;
  height: auto;
  margin: 0 auto;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #343434;
  border-radius: 15px;
  text-align: left;
  padding: 10px 15px 30px;
}

.tipo-unit {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #343434;
  text-align: left;
  margin-top: 10px;
}

.creacion-title {
  margin-bottom: 10px;
}
.tipo-unit.informacion {
  width: calc(80% - 20px);
  min-height: 100px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #565555;
  box-shadow: none;
  border-radius: 15px;
  margin-top: 40px;
  text-align: left;
  padding: 20px;
}

.tipos {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  columns: #4d4d4d;
  text-align: left;
  margin-bottom: 20px;
}

.tipos span {
  margin-bottom: 10px;
}

.img-tipo {
  width: 30%;
  height: 144px;
  overflow: hidden;
  margin-right: 1vh;
  border-radius: 10px;
}

.img-tipo img {
  overflow: hidden;
  object-fit: contain;
  width: 100%;
}

.tipo-info {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.tipo-title {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.add {
  width: 10%;
  height: 40px;
  background-image: url(/images/add-icon-pink.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.valor {
  font-size: 14px;
  color: #fff;
  font-weight: 200;
  margin-top: 20px;
}

.detalles {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  gap: 10px;
  color: #fff;
  font-weight: 200;
  text-align: left;
  margin-top: 10px;
}

.contacto {
  display: flex;
  flex-direction: row;
  width: calc(95% - 20px);
  height: auto;
  margin: 0 auto;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;
  font-size: 14px;
}

.conecta {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .crear {
    width: 100%;
    background: none;
  }

  .crear-tipo {
    width: 100%;
    padding: 18px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2.5px);
  }

  .tipo-title {
    font-size: 11px;
  }

  .tipos {
    margin-bottom: 0px;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.45;
  }
  .tipos span {
    margin-bottom: 0;
  }

  .img-tipo {
    margin-right: 0px;
  }

  .img-tipo img {
    width: auto;
  }

  .add {
    background-position: center;
    height: 38px;
  }

  .valor {
    font-size: 10px;
    font-style: normal;
    line-height: 1.6;
  }

  .detalles {
    font-size: 11px;
    font-style: normal;
    line-height: 1.6;
  }
}
