.form {
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #2466ff8b;
  font-size: 18px;
}

.user-box {
  width: 100%;
  color: #c7c7c7;
  text-align: left;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom: 1px solid #2466ff8b;
}

.login-button {
  width: 100%;
  height: 80px;
  background-color: #2466ff;
  border: none;
  font-size: 20px;
  font-weight: 500;
  font-family: "Lexend", sans-serif;
  text-align: left;
  color: #fff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login {
  border: none;
  font-size: 20px;
  font-weight: 500;
  font-family: "Lexend", sans-serif;
  text-align: left;
  color: #fff;
  padding: 20px;
  background-color: #2466ff;
  cursor: pointer;
}

.fa-solid {
  font-size: 40px;
  padding-right: 20px;
  font-weight: 100;
}
.input-email,
.input-password {
  border: none;
  color: #fff;
  font-size: 18px;
  margin-top: 10px;
  outline: none;
  padding: 0px 0px;
}

.input-form {
  width: 100%;
  padding: 0px 0px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  outline: none;
}

@media only screen and (max-width: 520px) {
  .background {
    background-position: top left;
  }

  .logo-white {
    background-position: center;
    background-size: contain;
    margin-bottom: 8vh;
  }

  .login-box {
    width: 80%;
    max-width: 768px;
    margin-top: 10vh;
  }

  .user-box {
    font-size: 10px !important;
    height: 20%;
    padding: 20px 20px 5px;
  }
  .login-button {
    height: 10%;
    padding: 10px 20px;
  }
  .login {
    font-size: 14px;
    padding: 0;
  }

  .fa-solid {
    font-size: 20px;
    padding-right: 0;
  }
}
