.form {
  /*  */
  border-radius: 10px;
  width: 100%;
  height: auto;
  font-size: 18px;
}

.user-box {
  display: flex;
  flex-direction: column;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  /* color: #c7c7c7; */
  text-align: left;
}

.user-box label {
  padding: 10px 10px 0;
}

.login-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100%;
  overflow: hidden;
  font-weight: 500;
  font-size: 20px;
  font-family: 'Lexend', sans-serif;
  text-align: left;
}

.login {
  cursor: pointer;
  border: none;
  padding: 20px;
  width: 100%;
  height: 75px;
  font-size: 20px;
  font-family: 'Lexend', sans-serif;
  text-align: left;
}

.fa-solid {
  padding-right: 20px;
  font-weight: 100;
  font-size: 40px;
}
.input-email,
.input-password {
  outline: none;
  border: none;
  padding: 0px 10px;
  /* color: #c7c7c7; */
  font-size: 18px;
  height: 45px;
  line-height: 45px;
}

.input-form {
  display: inline-block;
  outline: none;
  border: none;
  padding: 0px 10px;
  width: 100%;
  height: 45px;
  line-height: 45px;
}

.errorMessage {
  align-self: flex-start;
  margin-bottom: 5px;
  color: #ff5567;
  font-weight: 700;
  font-size: 18px;
  text-align: left;
}

@media only screen and (max-width: 520px) {
  .background {
    background-position: top left;
  }

  .logo-white {
    margin-bottom: 8vh;
    background-position: center;
    background-size: contain;
  }

  .login-box {
    margin-top: 10vh;
    width: 80%;
    max-width: 768px;
  }

  .user-box {
    padding: 20px 20px 5px;
    height: 20%;
    font-size: 10px !important;
  }
  .login-button {
    padding: 10px 20px;
    height: 10%;
  }
  .login {
    padding: 0;
    font-size: 14px;
  }

  .fa-solid {
    padding-right: 0;
    font-size: 20px;
  }
}
