.siteButton {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
  cursor: pointer;
  transition:
    all 0.25s ease-in-out,
    border 0.25s ease-in 0s;
  overflow: hidden;
  position: relative;
}

.siteButton:hover {
  transition:
    all 0.25s ease-in-out,
    border 0.25s ease-in-out 0.1s;
}

.siteButton span {
  position: relative;
  display: block;
  z-index: 1;
  font-weight: 500;
}

.siteButton:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 100%;
  transform: translateY(-100%);
  transition: all 0.25s ease-in-out;
}

.siteButton:hover:before {
  transform: translateY(0%);
}

.primary:before {
  background-color: #2467ff;
  transform: translateY(0%);
}

.primary {
  color: #fff;
  background-color: rgba(60, 64, 67, 0.35);
  border-color: #2467ff;
}

/* .primary:hover {
  color: #fff;
  border-color: #fff;
}

.primary:hover:before {
  transform: translateY(-100%);
} */

.align-end {
  margin-left: auto;
}

.align-center {
  margin: 0 auto;
}

.secondary {
  background-color: rgba(60, 64, 67, 0.35);
  border-color: #fff;
  color: #fff;
}

.secondary:hover {
  color: #fff;
  border-color: #2467ff;
}

.secondary:before {
  background-color: #2467ff;
  transform: translateY(-100%);
}

.gradient {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 0px;
  text-align: center;
  cursor: pointer;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(0deg, #2467ff, #00bdff) border-box;
  border-radius: 7px;
  border: 2px solid transparent;
}

.buttonsFilter {
  max-width: 100%;
  width: 100%;
  gap: 10px;
  margin: 10px 0;
}

.iconImage {
  width: 20px;
  height: 20px;
  mix-blend-mode: normal;
  background-image: url(/images/plus-light.png);
  transition: all 0.25s ease-in-out;
}

.primary:hover .iconImage {
  background-image: url(/images/plus-light.png);
}

@media only screen and (max-width: 768px) {
  .align-end {
    margin: auto;
  }
}
