.inputToEditValue {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #fff;
  /* color: #fff; */
  background-color: transparent;
  transition: all 0.25s ease-in-out;
}

.inputToEditValue:disabled {
  border: 1px solid #ffffff00;
  background-color: #56555500;
}

.inputToEditValue:disabled {
  background-color: transparent;
  border: 1px solid #7c7c7c00;
}

.editUnit {
  width: 50px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -15px;
}
