.search {
  background-color: white;
}

.main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 150px;
  padding: 0 50px 50px;
  position: relative;
  z-index: 2;
  margin-bottom: 50px;
}

.top-content {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  background-color: rgba(33, 34, 29, 0.3);
  padding: 10px 0;
  width: 100%;
  position: fixed;
  top: 73px;
  text-transform: uppercase;
}

.oportunidades {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title {
  width: calc(100% - 40px);
}

.tipo {
  width: calc(50% - 50px);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tipo-title {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}

.tipo-unit {
  width: calc(100% - 20px);
  min-height: 100px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 40px;
  text-align: left;
  padding: 20px;
  border-radius: 16px;
  background: #2e2e2c;
  border: 1px solid #ff556600;
  box-shadow: 5px 7px 10px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  position: relative;
}

.tipo-unit.active {
  /* border: 1px solid #ff5567; */
}

.tipo-info {
  margin-left: 20px;
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px 0 0;
}

.tipo-title {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.tipo-sub {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  margin-top: 15px;
}

.detalles {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 14px;
  color: #fff;
  font-weight: 200;
  text-align: left;
  margin-top: 10px;
}

.icon {
  width: 35%;
  height: auto;
  justify-content: flex-start;
}

.progressBar {
  width: 100%;
  height: 7px;
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  margin: 35px 0 15px;
}

.innerProgressBar {
  width: 25%;
  background-color: #3eaaf7;
  border-radius: 10px;
  height: 100%;
  transition: all 0.15s ease-in-out;
  position: relative;
}

.iceCreamBar {
  position: absolute;
  top: 50%;
  width: 25px;
  height: 25px;
  margin-top: -12.5px;
  right: -12.5px;
  border-radius: 50%;
  background-image: url(/images/ice.svg);
}

.top-content .icon {
  background-image: url(/images/back.svg);
  width: 40px;
  height: 40px;
}

.tipo-sub {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  margin-top: 15px;
}

.back {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(/images/back.svg);
  transform: rotateY(180deg);
  transition: all 0.5s ease-in-out;
}

.active .back {
  transform: rotateY(0deg);
}

.img-tipo {
  position: relative;
}

.img-tipo img {
  width: 100px;
  height: 100px;
  margin-left: 10px;
  border-radius: 10px;
  position: relative;
}
.zoom {
  background-image: url(/images/zoom.png);
  background-repeat: no-repeat;
  background-color: #ff5567;
  background-position: center;
  background-size: 50%;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  right: 0;
  position: absolute;
  top: 0;
  padding: 4px;
  width: 25px;
  height: 25px;
  text-align: center;
}

.wrap-right {
  width: 50%;
  height: auto;
}

.right {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 50px;
  align-items: stretch;
  flex-wrap: wrap;
}

.line {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ver-line {
  border-right: 1px solid #fff;
  height: 100%;
  min-height: 80px;
}

.pendientes {
  width: 70%;
  height: auto;
}

.pendiente-top {
  width: 100%;
  margin-left: 20px;
  margin-bottom: 30px;
}

.greybox {
  border-radius: 10px;
  background: #2e2e2c;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  color: #fff;
}

.info {
  width: 70%;
}

.info label {
  display: block;
  margin-bottom: 10px;
}

.info li {
  font-size: 16px;
  color: #fff;
  padding-left: 20px;
  margin-bottom: 10px;
}

.pendiente-list {
  font-size: 16px;
  color: #fff;
  padding-left: 20px;
  margin-bottom: 10px;
  font-weight: 500;
}

.box li.pendiente-list {
  font-size: 14px !important;
  font-weight: 200;
  color: #fff;
}

.ulNode li {
  margin: 10px 0;
  font-size: 14px !important;
  font-weight: 200;
  color: #fff;
}

.time {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: 300;
  padding-top: 10px;
  color: #777;
}

.box {
  padding: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
  width: 100%;
  height: auto;
  position: relative;
}

.box-dotted {
  min-height: 5px;
  height: auto;
  padding: 5px;
  margin-bottom: 30px;
  width: 100%;
  position: relative;
  left: -0;
  border-top: 2px dashed #fff;
  border-bottom: 2px dashed #fff;
}

.blue-point {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 0px;
  left: calc(-5% - 42.5px);
}

.blue-point-plus {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ff5567;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  position: absolute;
  top: -7px;
  left: -12.5px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pendientes-bottom {
  text-align: center;
  width: 100%;
}

.ver-oportunidad {
  width: 40%;
  height: 50px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 30px;
  padding: 10px 30px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  border: 2px solid transparent;
  margin: 0 auto;
  background-color: #2467ff;
}

@media only screen and (max-width: 1200px) {
  .img-tipo {
    margin-right: 10px;
  }

  .box-dotted {
    left: -47px;
  }
  .blue-point {
    left: -55px;
  }

  .blue-point-plus {
    left: -10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .box-dotted {
    left: -42px;
  }
  .blue-point {
    left: -50px;
  }

  .blue-point-plus {
    left: -5px;
  }

  .tipo-unit {
    width: 90%;
    padding: 10px 0 0 !important;
  }

  .icon {
    width: 25%;
  }

  button.ver-oportunidad {
    width: 60%;
  }

  .pendientes {
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  .main {
    padding: 0px;
    top: 0px;
  }
  .tipo-unit {
    width: calc(80% - 20px);
    min-height: 100px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #565555;
    box-shadow: 2px 2px 6px #c7c7c7;
    border-radius: 15px;
    margin-top: 40px;
    text-align: left;
    padding-bottom: 25px;
    position: relative;
  }

  .back {
    position: absolute;
    right: -10px;
  }

  #top-content {
    top: -10px;
    width: 100%;
    height: auto;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 2px 2px 6px #c7c7c7;
    padding: 20px;
    justify-content: center;
  }
  .icon {
    display: none;
  }

  .zoom {
    z-index: 7;
  }

  .img-tipo {
    width: auto;
    margin-right: 30px;
  }
}
