.search {
  background-color: #565555;
}

.perfil {
  width: 90%;
  max-width: 1600px;
  margin: 150px auto 0;
  height: auto;
  display: flex;
  flex-direction: row;
}

.editar-perfil {
  width: calc(30% - 25px);
  height: auto;
  border-radius: 5px;
  background: #2e2e2c;
  box-shadow:
    0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(7.5px);
  margin-top: 20px;
  padding-bottom: 60px;
}

.containerEditarPerfil {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.pendientes {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.editar {
  display: block;
  background-image: url(/images/edit.svg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 30px;
  margin-left: auto;
}

.perfil-img {
  border-radius: 50%;
  width: 120px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 35px;
}

.perfil-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.name-perfil {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 100%;
  display: block;
}
.sub-name {
  width: 100%;
  display: block;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  margin: 0 auto;
}

.id-perfil {
  width: 100%;
  height: auto;
  font-size: 18px;
  font-weight: 200;
  color: #fff;
  margin: 0 auto 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.id-perfil img {
  margin-right: 20px;
  width: 40px;
}

.perfil-icons {
  display: flex;
  justify-content: center;
  gap: 5%;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 20px;
}

.perfil-icons-admin {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 20px;
  gap: 20px;
}

.admin-section-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 10px;
}

.admin-text-container {
  width: fill-available;
  height: auto;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
}

.admin-img-container {
  display: flex;
  align-items: center;
  height: auto;
}

.admin-edit-container {
  width: 10%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.informacion-perfil {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}
.info-perfil {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  color: #fff;
  align-self: flex-start;
  margin: 0 0 20px 0;
}

.sub-title {
  font-size: 16px;
  color: #fff;
  margin: 0px 0 20px;
}

.campos-informacion {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.campos {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
}

.campo {
  width: auto;
  min-width: 100px;
  margin: 0px 10px 0 0;
  border: 1px solid #fff;
  border-radius: 30px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 10px 20px;
  transition: all 0.25s ease-in-out;
}

.campo:hover {
  background-color: #2467ff;
  border-color: #2467ff;
  color: #fff;
}

.flag {
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  text-align: left;
  padding-top: 20px;
  /* margin-top: 100px;
  margin-left: 70px; */
  font-weight: 700;
}

.check {
  display: none;
}

.checkMask {
  min-width: 25px;
  min-height: 25px;
  border: 1px solid #fff;
  margin-right: 10px;
}

.input {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #c7c7c7ce;
  background-color: #d9d9d915;
  font-weight: 300;
}

.listado {
  position: relative;
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 30px auto 0;
}

.penlist {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 20px;
  color: #fff;
}

.opc-pendiente {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.opcion {
  width: 22%;
  min-width: 180px;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  flex-wrap: wrap;
  border-radius: 20px;
  background: #565555;
  box-shadow:
    0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(7.5px);
  color: #fff;
}

.opcion img {
  padding-bottom: 15px;
}

.badge.red {
  background-color: #ff5567;
  border-radius: 50%;
  left: 5px;
  position: absolute;
  top: -10px;
  color: #fff;
  padding: 4px;
  width: 25px;
  height: 25px;
  text-align: center;
  -webkit-animation: not-blink 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395)
    infinite;
  animation: not-blink 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.badge {
  display: inline-block;
}

.pendientes-movil {
  display: none;
}

.infoProfile {
  width: 90%;
  margin-top: 30px;
}

.rowInfoProfile {
  width: 100%;
  margin: 25px 0;
}

.rowInfoProfile .id-perfil {
  justify-content: flex-start;
}

.rowInfoProfile .id-perfil img {
  width: 15px;
}

.search {
  background-color: #fff !important;
}

#perfil {
  width: calc(100% - 20px);
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.editar-perfil {
  width: 30%;
  height: auto;
  border-radius: 5px;
  background: #2e2e2c;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(7.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  margin-top: 20px;
  padding: 20px;
}

.pendientes {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

/* .editar {
  font-size: 18px;
  font-weight: 500;
  color: #4d4d4d;
  text-align: right;
  border-bottom: 2px solid #7c7c7c;
  margin: 25px 25px 0 0;
  display: flex;
  justify-content: end;
  align-items: end;
} */

.perfil-img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.name-perfil {
  font-size: 20px;
  font-weight: 500;
  columns: #4d4d4d;
  text-align: center;
  margin-bottom: 10px;
}
.sub-name {
  font-size: 18px;
  font-weight: 300;
  columns: #4d4d4d;
  text-align: center;
  margin-bottom: 10px;
}

.perfil-icon {
  height: auto;
  font-size: 18px;
  font-weight: 200;
  color: #4d4d4d;
  text-align: left;
  display: flex;
  align-items: start;
}

.perfil-edit {
  width: 100%;
  height: auto;
  font-size: 18px;
  font-weight: 200;
  color: #fff;
  margin: 0 auto;
  margin-top: 30px;
  text-align: left;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.id-perfil img,
.perfil-edit img {
  margin-right: 20px;
}

.perfil-icon img {
  margin: auto;
}

.edit {
  margin-left: 30px;
}

.perfil-edit a {
  font-size: 18px;
  font-weight: 200;
  color: #2467ff;
  text-align: left;
}

button.campo:hover {
  background-color: #2467ff;
  color: #fff;
}

.flag {
  width: 185px;
  height: 55px;
  background-color: #2467ff;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
}

.check {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}

.input {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #c7c7c7ce;
  background-color: #d9d9d915;
  font-weight: 300;
}

.opcion {
  width: 22%;
  min-width: 180px;
  height: auto;
  position: relative;
  background-color: white;
  box-shadow: 2px 2px 6px #c7c7c7;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #4d4d4d;
  text-transform: uppercase;
  flex-wrap: wrap;
}

.opcion img {
  padding-bottom: 15px;
}

.badge.red {
  background-color: #ff5567;
  border-radius: 50%;
  left: 5px;
  position: absolute;
  top: -10px;
  color: #fff;
  padding: 4px;
  width: 25px;
  height: 25px;
  text-align: center;
  -webkit-animation: not-blink 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395)
    infinite;
  animation: not-blink 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

span.badge {
  display: inline-block;
}

.pendientes-movil {
  display: none;
}

.flag {
  display: none;
}

.listado {
  display: none;
}

@media only screen and (max-width: 1300px) {
  .opc-pendiente {
    width: 100%;
    justify-content: space-between;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

@media only screen and (max-width: 1190px) {
  .opc-pendiente {
    width: 100%;
    justify-content: space-around;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .opcion {
    width: 45%;
    min-width: 180px;
    margin-bottom: 30px;
  }

  .campos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  button.campo {
    width: 80%;
  }
  .id-perfil,
  .perfil-edit a,
  .perfil-edit,
  .perfil-icon,
  .penlist {
    font-size: 14px;
  }
}

.datos-right {
  width: 40%;
  height: auto;
}

.top-name {
  width: 100%;
  height: auto;
  font-size: 18px;
  color: #4d4d4d;
  text-transform: uppercase;
  margin: 0 auto;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
}

form.msform {
  width: 85%;
  height: auto;
}

.field-user {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  font-family: 'Lexend', sans-serif;
  font-size: 20px;
  justify-content: space-evenly;
}

h3.user {
  width: 90%;
}

.switch {
  position: relative;
}

.switch input[type='checkbox'] {
  visibility: hidden;
}

.switch label {
  width: 56px;
  height: 30px;
  background-color: #d9d9d9;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
}

.switch label:after {
  content: '';
  width: 28px;
  height: 28px;
  border-radius: 5px;
  position: absolute;
  padding: 5px;
  top: 1px;
  left: 1px;
  transition: 100ms;
  background-color: white;
  background-image: url(/images/switch-back.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #4d4d4d;
}

.switch .look:checked + label {
  background-color: #2dd65752;
}

.switch .look:checked + label:after {
  left: 28px;
  background-image: url(/images/switch-check.png);
  background-repeat: no-repeat;
}

@media only screen and (max-width: 993px) {
  .close .id-perfil {
    flex-direction: column;
    line-height: 30px;
  }
  .id-perfil img {
    margin-right: 0px;
  }
}

@media only screen and (max-width: 768px) {
  section.main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 80px;
    padding: 0 25px 50px;
    position: relative;
    z-index: 2;
    margin-bottom: 200px;
  }

  #perfil {
    flex-direction: column;
  }

  .editar-perfil {
    width: calc(100% - 25px);
    height: auto;
    border-radius: 0px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 0px;
    padding-bottom: 60px;
    margin-bottom: 100px;
  }

  .listado {
    position: relative;
    /*top: 80px;*/
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    padding: 15px 23px;
  }

  .id-perfil {
    flex-direction: row;
    font-size: 18px;
  }

  .id-perfil img {
    margin-right: 10px;
  }

  .perfil-icons {
    width: 100%;
  }

  .datos-right {
    width: 100%;
    height: auto;
  }

  .pendientes-movil {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: left;
  }

  .flag {
    top: 40px;
  }

  .opc-pendiente {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
    top: 80px;
    margin: 0 auto;
  }

  .opcion {
    width: 100%;
    height: auto;
    position: relative;
    padding: 5px 30px;
    background-color: white;
    box-shadow: 0px 9px 9px #c7c7c7e0;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: #4d4d4d;
    text-transform: uppercase;
  }

  .opcion img {
    margin: 0 15px;
    width: 25px;
  }

  .informacion-perfil {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    text-align: left;
    margin: 0 auto;
    position: relative;
    /*top: 110px;*/
  }

  .campos {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }
  button.campo {
    width: 40%;
    background-color: #2467ff;
    color: white;
    border-radius: 15px;
  }

  .campos-informacion {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
  }

  .field-user {
    font-size: 14px;
  }

  .perfil-img {
    margin-bottom: 20px;
    margin-top: 0;
  }
}

@media only screen and (max-width: 1300px) {
  .opc-pendiente {
    width: 100%;
    justify-content: space-between;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

@media only screen and (max-width: 1190px) {
  .opc-pendiente {
    width: 100%;
    justify-content: space-around;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .opcion {
    width: 45%;
    min-width: 180px;
    margin-bottom: 30px;
  }

  .campos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  button.campo {
    width: 80%;
  }
  .id-perfil {
    font-size: 14px;
  }

  .perfil-icon img {
    width: 60px;
    height: auto;
  }
}

@media only screen and (max-width: 960px) {
  .id-perfil {
    flex-direction: column;
    line-height: 30px;
  }
  .id-perfil img {
    margin-right: 0px;
  }

  .perfil-icon img {
    width: 40px;
  }
}

@media only screen and (max-width: 768px) {
  section.main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 80px;
    padding: 0 25px 50px;
    position: relative;
    z-index: 2;
    margin-bottom: 200px;
  }

  #perfil {
    flex-direction: column;
  }

  .editar-perfil {
    width: 90%;
    height: auto;
    border-radius: 0px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    background-color: transparent;
    box-shadow: none;
    padding: 20px 0;
  }

  .perfil-icon {
    margin-top: 0px;
  }

  .perfil-icon img {
    width: 60px;
  }

  .id-perfil {
    flex-direction: row;
    font-size: 18px;
  }

  .id-perfil img {
    margin-right: 10px;
  }

  .perfil-icons {
    width: 50%;
  }

  .pendientes {
    display: none;
  }

  .pendientes-movil {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }

  .flag {
    display: block;
    width: auto;
    height: auto;
    background-color: unset;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    padding: 15px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    left: 0;
    position: relative;
    top: 0;
  }

  .opc-pendiente {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: 0px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .opcion {
    width: 100%;
    height: auto;
    position: relative;
    padding: 5px 15px;
    border-radius: 35px;
    background: #565555;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .opcion img {
    margin: 0 15px;
    align-items: center;
    width: 18px;
    padding: 8px 0;
  }

  .informacion-perfil {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    margin: 0 auto;
    position: relative;
    top: 0px;
    align-items: center;
  }

  .campos {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  button.campo {
    width: 40%;
    background-color: transparent;
    color: white;
    border-radius: 15px;
  }

  .campos-informacion {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    padding: 15px 23px;
  }

  .editar {
    margin: 0;
  }

  .sub-title {
    margin-top: 10px;
  }

  .info-perfil {
    margin-left: 0;
    align-self: auto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
  }
}
