.filterPopUp {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: -100%;
  transition: top 0s ease-in-out 0.5s;
}

.filterPopUp.active {
  top: 0;
  transition: top 0s ease-in-out;
}

.filterBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000055;
  opacity: 0;
  backdrop-filter: blur(10px);
  transition: all 0.5s ease-in-out;
}

.active .filterBackground {
  opacity: 1;
}

.wrapperFilter {
  position: relative;
  width: 40%;
  height: 100%;
  background-color: #21221dbc;
  padding: 25px 40px 25px;
  transform: translateX(100%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: auto;
  border-radius: 35px 0px 0px 35px;
  border: 1px solid #c7c7c7;
  transition: all 0.5s ease-in-out;
}

.active .wrapperFilter {
  transform: translateX(0%);
}

.closeFilter {
  width: 30px;
  height: 30px;
  background-image: url(/images/close-white.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  margin: 0 0 0 auto;
  position: sticky;
  top: 0;
  right: -20px;
  position: relative;
}

.filterGroups {
  width: 100%;
  position: relative;
  margin-bottom: 25px;
  margin-top: 0px;
}

.filterGroup {
  width: 100%;
  position: relative;
  display: block;
  margin-bottom: 50px;
}

.labelFilter {
  width: 100%;
  display: block;
  position: relative;
}

.labelText {
  text-transform: uppercase;
  width: 100%;
  text-align: left;
  margin-bottom: 25px;
  display: block;
  font-weight: 700;
  color: #fff;
}

.labelTextRange {
  margin-bottom: 25px;
}

.ubicationSelect {
  width: 100%;
  padding: 15px;
  padding-right: 25px;
  appearance: none;
  background-color: rgba(60, 64, 67, 0);
  border: 0.5px solid #fff;
  border-radius: 5px;
  background-image: url(/images/arrow-select-white.svg);
  background-size: 20px;
  background-position: 98% 50%;
  background-repeat: no-repeat;
  display: block;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}

.ubicationSelect option {
  color: #000;
}

.rangeTrack {
  height: 20px;
  display: 'flex';
  width: calc(100% - 10px);
  margin-left: 7.5px;
}

.filterGroupDrops {
  display: flex;
}

.dropDownGrpup {
  width: 48%;
}

.labelsRangeSlider {
  color: #fff;
}

.filter-buttons-bottom {
  width: 100%;
}

.maxLabel {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 2.12;
}

.minLabel {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 2.12;
}

@media only screen and (max-width: 768px) {
  .wrapperFilter {
    width: 100%;
    border-radius: 0px;
    border: none;
    background-color: #202124;
  }
  .filter-buttons-bottom {
    width: 100%;
  }

  .labelText {
    font-size: 11px;
    font-weight: 400;
  }

  .maxLabel {
    font-size: 8px;
    font-weight: 300;
  }

  .minLabel {
    font-size: 8px;
    font-weight: 300;
  }

  .ubicationSelect {
    font-size: 11px;
    font-weight: 400;
  }
}
