.overlay:target {
  visibility: visible;
  opacity: 1;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 7;
  overflow: scroll;
}

.popup {
  margin: 70px auto;
  padding: 90px 50px 50px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  height: auto;
  position: absolute;
  transition: all 5s ease-in-out;
  z-index: 9;
  top: 40px;
  right: 0px;
}

.pop-text {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  line-height: 30px;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 50px;
  font-weight: 200;
  text-decoration: none;
  color: #333;
}

.popup .content {
  overflow: auto;
}

.cat-input {
  padding: 15px;
  border: 1px solid #4d4d4d;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #c7c7c7ce;
  font-family: 'Lexend', sans-serif;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.side-a {
  width: 80%;
  height: auto;
  display: flex;
  align-items: center;
}

.side-b {
  width: 20%;
  background-image: url(/images/categorias.png);
  background-repeat: no-repeat;
  background-position: right;
}

.check {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}
.text-cat {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

.buscar {
  width: 100%;
  background: #2467ff;
  font-weight: 300;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 20px;
  margin: 50px 0px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 10px;
  text-align: center;
}
