.evento {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #2467ff;
  border-radius: 5px;
  background-color: #2467ff;
  padding: 10px 30px;
  width: 70%;
  height: 45px;
  
  font-weight: 500;
  font-size: 12px;

  text-align: center;
  text-decoration: none;

  margin-bottom: 20px;
}

.contact {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 30px;
  width: 70%;
}

.user-evento {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lista-evento {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 20px;
}

.lista-evento span {
  color: #777777;
  font-size: 12px !important;
}

.ulEvent li {
  margin: 10px 0;
  font-weight: 300;
  font-size: 16px;
}

.search {
  background-color: white;
}

.main {
  display: flex;
  position: relative;
  position: relative;
  top: 150px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  margin-bottom: 50px;
  padding: 0 50px 50px;
  width: 100%;
  height: auto;
}

.filter_container {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.label_filter {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 20px 0 20px;
  margin: 0 22px;
}

.filter_input {
  appearance: none;

  cursor: pointer;
  box-sizing: border-box;
  margin: 0 20px;
  border: 1px solid #4d4d4d;
  border-radius: 10px;
  background-image: url(/images/arrow_filter.svg);
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
  padding: 15px;
  padding: 0;
  width: 285px;
  height: 45px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  /*line-height: 0.5;*/
  letter-spacing: 1.26px;

  text-align: center;
}

.oportunidades {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 48px;
  width: calc(50% - 50px);
  height: auto;
}

.icon {
  justify-content: start;
  width: 35%;
  height: auto;
}

i.fa-solid.fa-angle-left {
  display: flex;
  left: 0;
  align-items: start;
  font-size: 30px;
}

.top-content.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.tipo-sub {
  margin-top: 15px;
  width: 100%;
  
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.38;
}

.back {
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
}

.img-tipo {
  position: relative;
}

.img-tipo img {
  position: relative;
  margin-left: 10px;
  border-radius: 10px;
  width: 100px;
  height: 100px;
}
.zoom {
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-image: url(/images/zoom.png);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  background-color: #2467ff;
  padding: 4px;
  width: 25px;
  height: 25px;
  text-align: center;
}

.wrap-right {
  width: 50%;
  height: auto;
}

.right {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

.right img {
  z-index: 1;
}

.line {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 64px;
  height: auto;
  /* z-index: 1; */
}

.ver-line {
  border-right: 2px solid #fff;
  height: calc(100% - 130px);
}

.pendientes {
  position: relative;
  width: calc(100% - 64px);
  height: auto;
}

.pendiente-top {
  margin-bottom: 30px;
  margin-left: 20px;
  width: 100%;
}

.greybox {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: start;
  margin-bottom: 30px;
  margin-left: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: #2e2e2c;
  padding: 20px;
  width: 90%;
  
}

.info {
  width: 70%;
}
.info div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pendiente-date {
  margin-bottom: 10px;
  
  font-weight: 300;
  font-size: 10px;
}

li.pendiente-list {
  
  font-style: normal;
  font-weight: 500;
  font-size: 16px !important;
  font-size: 16px;
  line-height: 1.87;
}

.box li.pendiente-list {
  font-style: normal;
  font-weight: 300;
  font-size: 16px !important;
  line-height: 30px;
}

.ulNode li {
  margin: 10px 0;
  
  font-weight: 200;
  font-size: 14px !important;
}

.time {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 30%;
  
  font-weight: 300;
  font-size: 10px;
}

.hour {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.81;
  text-align: right;
}

.box {
  position: relative;
  margin-bottom: 30px;
  margin-left: 20px;
  padding: 20px;
  width: 100%;
  height: auto;
}

.box-dotted {
  position: relative;
  left: -55px;
  transition: all 0.25s ease-in-out;
  margin-bottom: 30px;
  margin-left: 20px;
  border-top: 2px dashed #fff;
  border-bottom: 2px dashed #fff;
  padding: 5px 5px 5px 5px;
  width: 100%;
  height: auto;
  min-height: 5px;
}

.innerDottedContainer {
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease-in-out;
  padding-left: 30px;
  max-height: 0px;
  overflow: hidden;
}

.box-dotted.active {
  margin: 0 0 0 20px;
  border-top: 2px dashed #ffffff00;
  border-bottom: 2px dashed #ffffff00;
  width: calc(100% + 40px);
}
.box-dotted.active .innerDottedContainer {
  visibility: visible;
  opacity: 1;
  max-height: initial;
  overflow: initial;
}
.innerDottedContainer > div:first-of-type {
}
.innerDottedContainer > div:last-of-type {
}

.blue-point {
  position: absolute;
  top: 0px;
  left: -62px;
  border-radius: 50%;
   width: 20px;
  height: 20px;
}

.blue-point-plus {
  position: absolute;
  top: -8px;
  left: -10px;
  visibility: visible;
  opacity: 1;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #ff5567;
  padding: 5px;
  width: 25px;
  height: 25px;
  
  font-weight: 300;
  font-size: 14px;
  text-align: center;
}

.active .blue-point-plus {
  visibility: hidden;
  opacity: 0;
}

.pendientes-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

.pendientes-bottom-icon {
  background-image: url(/images/plus_icon_white.svg);
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
}

.ver-oportunidad {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 30px;
  border: 2px solid transparent;
  border-radius: 10px;
  background: #2467ff;
  padding: 20px 30px;
  width: 50%;
  height: fit-content;
  
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 1.12px;
  text-align: center;
  text-decoration: none;
}

.card-progress-bar-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  border-radius: 10px;
   width: 80%;
  height: auto;
}

.card-progress-bar-cold {
  display: flex;
  border-radius: 10px;
  background-color: #2467ff;
  width: 40%;
  height: 9px;
}

.card-progress-bar-frost-icon {
  position: absolute;
  left: calc(40% - 2%);
  margin: 0;
  background-image: url(/images/cold-icon.svg);
  background-size: 23px 23px;
  width: 23px;
  height: 23px;
}

.checkboxInput {
  display: none;
}

.checkboxLabelSquare {
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
  border: 1px solid white;
  width: 20px;
  height: 20px;
}

.checkboxInput:checked + .checkboxLabelSquare {
  background-color: white;
}

@media only screen and (max-width: 1024px) {
  .card-container {
    width: 100%;
  }

  .right {
    padding-top: 0px;
  }

  .wrap-right {
    width: 100%;
  }

  .ver-oportunidad {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .lista-evento {
    margin-top: 0px;
  }

  .lista-evento span {
    
  }
}
