.generar-cotizacion {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 30px;
  margin: 30px;
  border-radius: 20px;
}

.title {
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  text-align: left;
  font-weight: 700;
  margin-bottom: 20px;
}

.seleccion {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}

.seleccion > div {
  width: 45%;
}

.seleccion > div span {
  font-weight: 700;
  margin-bottom: 20px;
  display: block;
}

.elegir-seleccion {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.proyect-form input,
.subject_input {
  width: 100%;
  background-color: #21221d;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px 10px;
  appearance: none;
}

.separacion {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.inputQuote {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #c7c7c7ce;
  background-color: #21221d;
  text-align: center;
}

.cotizacion-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.lado-a {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  margin-right: 10px;
}
.lado-b {
  flex: 1 1 auto;
}

.lado-c {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 20%;
}
.lado-d {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  text-align: center;
  margin-left: 10px;
}

.lado-d fieldset{
  width: 100%;
}

.lado-c img,
.lado-d img {
  margin-right: 10px;
}

.title-saldo {
  color: #fff;
  font-weight: 500;
  width: 100%;
  text-align: left;
}

.lado-b .subject_input {
  width: 100%;
}

.cotizacion-form label input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.checked {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0;
}

.checkboxMask {
  width: 25px;
  height: 25px;
  border: 1px solid #fff;
  margin-right: 10px;
}

.cuotas:checked ~ .checkboxMask {
  background-color: #2467ff;
}

.arrowImage{
  margin-left: 10px;
}

.cuotas {
  display: none;
}

.text {
  padding-bottom: 20px;
}

.title-separacion {
  text-align: left;
  margin-right: 10px;
}

.lado-e {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
}

.labelRangePercenth{
  width: 50px;
  border: 1px solid #fff;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-radius: 5px;
}