.generar-cotizacion {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 20px;
}

.topContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 20px;
  height: 100px;
  padding: 25px;
  background-color: #2c2c2c;
  border-radius: 15px 15px 0px 0px;
  justify-content: center;
}

.bottomContent {
  width: 100%;
  background-color: #2c2c2c;
  border-radius: 0px 0px 15px 15px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 65px;
  background-color: #2c2c2c;
  justify-content: center;
  gap: 10px;
}

.infoContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 25px 0px;
}

.title {
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  text-align: left;
  font-weight: 600;
  margin-bottom: 10px;
}

.seleccion {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.seleccion > div {
  margin-right: 10px;
}

.separacion {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.cotizacion-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.lado-a {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  margin-right: 10px;
}
.lado-b {
  flex: 1 1 auto;
}

.lado-c {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 20%;
}
.lado-d {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  text-align: center;
  margin-left: 10px;
}

.lado-d fieldset {
  width: 100%;
}

.lado-c img,
.lado-d img {
  margin-right: 10px;
}

.title-saldo {
  color: #fff;
  font-weight: 500;
  width: 100%;
  text-align: left;
}

.lado-b .subject_input {
  width: 100%;
}

.cotizacion-form label input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.checked {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0;
}

.checkboxMask {
  width: 25px;
  height: 25px;
  border: 1px solid #fff;
  margin-right: 10px;
}

.cuotas:checked ~ .checkboxMask {
  background-color: #2467ff;
}

.arrowImage {
  margin-left: 10px;
}

.cuotas {
  display: none;
}

.text {
  padding-bottom: 20px;
}

.title-separacion {
  text-align: left;
  margin-right: 10px;
}

.lado-e {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
}

.labelRangePercenth {
  width: 50px;
  border: 1px solid #fff;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-radius: 5px;
}

/*After Changes scope*/

.proyect-form input,
.subject_input {
  background-color: #21221d;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px 10px;
  appearance: none;
}

.labelSimple {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 0.61;
}

.labelFocus {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 0.61;
}

.seleccion .labelSimple {
  margin-right: 5px;
}

.labelSubtitle {
  width: 100%;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  line-height: 2.13;
  text-align: left;
}

.infoSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 5px;
  background: #2c2c2c;
  gap: 30px;
  margin-bottom: 20px;
  height: 40px;
  align-items: center;
}

.outerRange {
  width: 100%;
  margin-bottom: 20px;
}

.buttonsSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

.buttonCreateOpportunity {
  width: 195px;
  height: 45px;
  font-size: 14px;
}

.cotizacion-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0 0 20px;
}

.labelSide {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}

.inputQuote {
  width: 60%;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  color: #c7c7c7ce;
  background-color: #21221d;
  text-align: center;
  font-size: 14px;
}

.subject_input {
  width: 60%;
}

.squareInputContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0;
}

.labelQuotesSelect {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 0.5;
  margin-left: 10px;
}

.labelQuotesSelectNoLine {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 0.5;
  margin-left: 10px;
}

.iconContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30px;
}

.iconSubContainer {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

/* popup*/

.popSuccessCreated,
.popError {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition:
    top 0s linear 0.5s,
    opacity 0.5s ease-in-out;
}

.popSuccessCreated.activePopUp {
  top: 0;
  opacity: 1;
  transition:
    top 0s linear.0s,
    opacity 0.5s ease-in-out;
}

.popError.activePopUp {
  top: 0;
  opacity: 1;
  transition:
    top 0s linear.0s,
    opacity 0.5s ease-in-out;
}

.bgPopUp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000055;
}

.popup2 {
  margin: 70px auto;
  padding: 50px 68px;
  border-radius: 5px;
  width: 95%;
  height: auto;
  position: relative;
  transition: all 5s ease-in-out;
  z-index: 9;
  top: 0px;
  text-align: center;
  border-radius: 10px;
  background: #343434;
  box-shadow: 0px 0px 46.667px 0px rgba(0, 0, 0, 0.25);
}

.popup3 {
  margin: 70px auto;
  padding: 50px 20px;
  border-radius: 5px;
  width: 95%;
  height: auto;
  position: relative;
  transition: all 5s ease-in-out;
  z-index: 9;
  top: 0px;
  text-align: center;
  border-radius: 10px;
  background: #343434;
  box-shadow: 0px 0px 46.667px 0px rgba(0, 0, 0, 0.25);
}

.popup {
  margin: 70px auto;
  padding: 40px 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  height: auto;
  position: relative;
  transition: all 5s ease-in-out;
  z-index: 9;
  top: 0px;
  text-align: center;
}

.popup h2 {
  margin-top: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.pop-text {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.86;
  margin-top: 20px;
}

.pop-text-bold {
  font-weight: 700;
}

.popup .close {
  position: absolute;
  top: 0;
  right: 30px;
  transition: all 200ms;
  font-size: 50px;
  font-weight: 100;
  text-decoration: none;
  color: #fff;
}
.popup .close:hover {
  color: #fff;
}
.popup .content {
  overflow: auto;
}

.icon-box {
  margin: 0 auto;
  color: #c7c7c7;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.icon-box img {
  width: 80px;
  height: 80px;
}

.icon-box .subir {
  width: 30% !important;
  padding: 15px 10px;
}

.label-hide {
  opacity: 0;
  height: 0px;
  width: 100%;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}

@media only screen and (max-width: 768px) {
  .generar-cotizacion {
    margin: 60px 30px 30px 30px;
    padding: 0;
  }
  .seleccion > div span {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1;
  }

  .title {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.33;
  }

  .title-separacion {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1;
  }

  .inputQuote {
    margin-bottom: 0px;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1;
  }

  .see-detalles {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1;
  }
  .proyect-form input,
  .subject_input {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1;
  }
  .lado-a {
    margin-right: 12px;
  }

  .lado-b {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1;
  }

  .lado-c {
    margin-right: 12px;
    flex-wrap: nowrap;
  }

  .lado-d {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1;
  }

  .title-saldo {
    margin-right: 12px;
  }
}
