.card-progress-bar-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}

.card-progress-bar-white {
  background-color: #d9d9d9;
  height: 9px;
  display: flex;
  border-radius: 10px;
  position: absolute;
  margin: 0;
  z-index: 2;
}

.card-progress-bar-grey {
  width: 100%;
  background-color: #4d4d4d;
  height: 9px;
  display: flex;
  border-radius: 10px;
  position: absolute;
  margin: 0;
  z-index: 1;
}

.card-progress-bar-icon {
  width: 23px;
  height: 23px;
  position: absolute;
  background-size: 23px 23px;
  margin: 0;
  z-index: 4;
}

.cold .card-progress-bar-icon {
  background-image: url(/images/cold-icon.svg);
}

.hot .card-progress-bar-icon {
  background-image: url(/images/hot-icon.svg);
}

.warm .card-progress-bar-icon {
  background-image: url(/images/warm-icon.svg);
}

.card-progress-bar {
  width: 40%;
  height: 9px;
  display: flex;
  background-color: #000;
  border-radius: 10px;
  position: absolute;
  margin: 0;
  z-index: 3;
}
