.typePopUp {
  display: flex;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  opacity: 0;
  transition:
    opacity 0.5s ease-in-out 0.15s,
    top 0s linear 1s;
  justify-content: center;
}

.activePopUp.typePopUp {
  top: 0;
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0s;
  padding: 35px 0;
}

.bgTypePopUp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000055;
  fill: rgba(33, 34, 29, 0.6);
  backdrop-filter: blur(10px);
}

.activePopUp .wrapperTypePopUp {
  transform: translateY(0%);
}

.wrapperTypePopUp {
  width: 40%;
  height: 100%;
  background: #343434;

  box-shadow:
    0px 0px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  z-index: 11;
  padding: 15px 15px;
  transform: translateX(100%);
  transition: all 0.35s linear;
}

.closeDeleteControls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.arrowBack {
  width: 22px;
  height: 22px;
  background-image: url(/images/close-white.svg);
  cursor: pointer;
}

/*.deleteIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #4d4d4d4d;
  position: relative;
  cursor: pointer;
}

.deleteIcon:before {
  content: '';
  width: 60%;
  height: 60%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(/images/delete.svg);
  position: absolute;
  top: 20%;
  left: 20%;
}*/

.formType {
  width: 100%;
  height: 85%;
  overflow-y: auto;
  padding: 0 15px;
}

.formType::-webkit-scrollbar {
  position: absolute;
}

.typeLabel {
  width: 100%;
  text-align: center;
  margin-bottom: 12px;
}

.labelText {
  color: #fff;
  width: 15%;
  text-transform: uppercase;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 2.13;
  text-align: left;
}

.labelInputTitle {
  color: #fff;
  width: 35%;
  text-transform: uppercase;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 2.04;
  text-align: left;
}

.inputTypeForm,
.subject_input {
  width: 60%;
  height: 38px;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  border: 1px solid #fff;
  padding: 15px 20px;
  background-color: transparent;
  color: #fff;
}
.quantityLabel {
  margin-top: 25px;
}

.quantityLabel .labelText {
  color: #969696;
}

.inputQuantityForm {
  width: 55px;
  border-radius: 5px;
  border: 1px solid #fff;
}

.inputsGroup {
  width: 100%;
  gap: 1%;
  margin-bottom: 40px;
}
.typeFeatures {
  width: 100%;
}

.imgType {
  width: 60%;
  box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border: 1px solid #fff;
  background-color: #fafafa;
  overflow: hidden;
  background-color: transparent;
  background-image: url(/images/camera_white_icon.svg);
  background-size: 80px;
}

.manyTypeLabels:last-of-type {
  margin-bottom: 0;
}

.labelImgType {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
}

.labelGroup {
  width: 48%;
}

.labelTextGroup {
  color: #fff;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.targetInputGroup {
  border-radius: 5px;
  border: 1px solid #fff;
  padding: 10px 10px;
  width: 100%;
  appearance: none;
  background-color: #2e2e2c;
  color: #fff;
  text-align: center;
}

.targetInputGroup::placeholder {
  color: #c7c7c7;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  text-align: center;
}

.tl.targetInputGroup::placeholder {
  text-align: left;
}

.buttonCreateType {
  width: 100%;
  max-width: 100%;
  height: 50px;
}

.buttonsCreateType {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.popSuccessTypeCreated {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition:
    top 0s linear 0.5s,
    opacity 0.5s ease-in-out;
}

.popSuccessTypeCreated.activePopUp {
  top: 0;
  opacity: 1;
  transition:
    top 0s linear.0s,
    opacity 0.5s ease-in-out;
}

.bgPopUp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000055;
}

.popup2 {
  margin: 70px auto;
  padding: 40px 20px;
  background: #fff;
  border-radius: 5px;
  width: 40%;
  height: auto;
  position: relative;
  transition: all 5s ease-in-out;
  z-index: 9;
  top: 0px;
  text-align: center;
}

.popup {
  margin: 70px auto;
  padding: 40px 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  height: auto;
  position: relative;
  transition: all 5s ease-in-out;
  z-index: 9;
  top: 0px;
  text-align: center;
}

.popup h2 {
  margin-top: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.pop-text {
  color: #c7c7c7;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  line-height: 30px;
  margin: 30px 0;
}

.popup .close {
  position: absolute;
  top: 0;
  right: 30px;
  transition: all 200ms;
  font-size: 50px;
  font-weight: 100;
  text-decoration: none;
  color: #fff;
}
.popup .close:hover {
  color: #fff;
}
.popup .content {
  overflow: auto;
}

/*Image*/

.image {
  width: 4 0%;
  height: auto;
  text-align: left;
  text-transform: uppercase;
}

.images {
  height: auto;
  text-align: left;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.imageSelected {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  /*background-color: #fafafa;*/
  opacity: 0;
  cursor: default;
  visibility: hidden;
  transition: all 0.25s ease-in-out;
}

.active .imageSelected {
  opacity: 1;
  visibility: visible;
}

.image-movil,
.file-movil {
  display: none;
}

.label {
  width: 100%;
  margin: 0px 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.46;
  color: #fff;
}

.labelSubtitle {
  width: 100%;
  margin: 0px 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  color: #fff;
}

.labelInputText {
  width: auto;
  margin: auto 0;
  display: flex;
  align-items: center;
  color: #fff;
}

.labelInputImage {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.main-image {
  width: 100%;
  height: 100%;

  border-radius: 10px;
  background-image: url(/images/camera_white_icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  margin: 0 0 0 0;
  display: block;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid #fff;
}

.deleteIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  background-image: url(/images/delete-light.png);
}

.active .deleteIcon {
  opacity: 1;
  visibility: visible;
}

/*@media only screen and (max-width: 1600px) {
  .wrapperTypePopUp {
    width: 60%;
  }
}

@media only screen and (max-width: 1200px) {
  .wrapperTypePopUp {
    width: 80%;
  }
}*/

@media only screen and (max-width: 768px) {
  .wrapperTypePopUp {
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: none;
    overflow-y: hidden;
  }

  .activePopUp.typePopUp {
    padding: 0;
  }

  .imgType {
    width: 90%;
    min-height: 100px;
    box-shadow: none;
    border: 1px solid #fff;
    background-color: #fafafa;
    overflow: hidden;
    background-color: transparent;
    background-image: url(/images/camera_white_icon.svg);
    background-size: 40px;
  }

  .inputsGroup {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
  }

  .typeFeatures {
    width: 100%;
  }

  .labelText {
    width: 100%;
    margin-bottom: 10px;
    text-align: start;
  }

  .manyTypeLabels .inputTypeForm {
  }

  .labelGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .labelTextGroup {
    width: 55%;
  }

  .buttonsCreateType {
    width: 100%;
    flex-direction: column;
    margin-top: 50px;
    gap: 20px;
  }
  .buttonsCreateType button {
    width: 100%;
    height: 35px;
    max-width: none;
  }

  .inputTypeForm {
    padding: 5px 10px;
  }

  .inputTypeForm {
    width: 100%;
  }

  .labelInputTitle {
    width: 50%;
  }

  .inputTypeForm,
  .subject_input {
    width: 50%;
  }

  /*image*/

  .file {
    display: none;
  }

  .image {
    width: 100%;
    height: auto;
  }

  .image-movil {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
  }

  span.label {
    text-transform: uppercase;
    margin: 0px 0 10px;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.45;
  }

  .main-image {
    width: 100%;
    height: 200px;
    background-size: 42px 35px;
    border-radius: 5px;
    border: 1px solid #fff;
  }
}
