.popup-agregar.active {
  top: 0;
  opacity: 1;
  transition:
    all 0.25s ease-in-out,
    top 0s ease 0s;
}

.popup-background-agregar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000c2;
}

.popup-window {
  top: 0;
  right: -30%;
  width: 30%;
  height: 100%;
  position: absolute;
  z-index: 1;
  transition: all 0.35s ease-in-out;
}

.popup-agregar.active .popup-window {
  right: 0;
}

.popup-agregar {
  position: fixed;
  top: -0%;
  opacity: 0;
  transition:
    all 0.5s ease-in-out,
    top 0s ease 0.5s;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.popup-agregar.active {
  top: 0;
  opacity: 1;
  transition:
    all 0.5s ease-in-out,
    top 0s ease 0s;
}

.top-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.top-content {
  display: flex;
  flex-direction: row;
  top: 0;
  width: 100%;
  height: 70px;
  padding: 20px 30px;
  justify-content: space-between;
  align-items: center;
}

.top-content-title {
  width: 100%;
  text-align: start;
  font-size: 22px;
  margin-bottom: 5px;
}

.close-icon {
  width: 22px;
  height: 22px;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
}

.agregar-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px 25px 85px;
  overflow: auto;
}

.search-wrapper {
  border-radius: 5px;

  background-color: unset;
  padding: 0 10px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}

.search-input {
  height: 100%;
  border: none;
  flex: 1;
  outline: none;
  height: 100%;
  font-size: 14px;
  background-color: unset;
}

.search-input::placeholder {
  color: var(--main-color);
  opacity: 0.6;
}

.agregar-contacto {
  width: 100%;
  height: calc(100% - 70px);
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.conecta-dos {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  font-weight: 300;
  width: 100%;
  padding: 7.5px;
  text-align: left;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  transform: translateX(0px);
}

/* .contact:hover {
  background-color: #262824;
} */

.contact img {
  margin-right: 1vh;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 50%;
  object-fit: cover;
}

@media only screen and (max-width: 1380px) {
  .popup-window {
    width: 40%;
  }
}

@media only screen and (max-width: 768px) {
  .popup-window {
    width: 100%;
  }

  .search-wrapper {
    margin-top: 27px;
  }
}
