.popup-agregar.active {
  top: 0;
  opacity: 1;
  transition:
    all 0.5s ease-in-out,
    top 0s ease 0s;
}

.popup-background-agregar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000c2;
}

.popup-window {
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-color: #21221d;
}

.popup-agregar {
  position: fixed;
  top: -0%;
  opacity: 1;
  transition:
    all 0.5s ease-in-out,
    top 0s ease 0.5s;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.popup-agregar.active {
  top: 0;
  opacity: 1;
  transition:
    all 0.5s ease-in-out,
    top 0s ease 0s;
}

.top-name {
  width: 100%;
  height: 100px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 3px 8px #2d2d2d;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 20px;
  opacity: 1;
  transition: all 200ms;
  font-size: 64px;
  font-weight: 100;
  text-decoration: none;
  color: #fff;
  right: 50px;
}

.agregar-wrapper {
  width: 80%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
}

.search-wrapper {
  border-radius: 20px;
  border: 1px solid #4d4d4d;
  background-color: var(--search-area-bg);
  padding-right: 12px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  color: var(--light-font);
  overflow: hidden;
  margin-top: 40px;
  margin-bottom: 40px;
}

.search-input {
  border: none;
  flex: 1;
  outline: none;
  height: 100%;
  padding: 0 20px;
  font-size: 16px;
  background-color: var(--search-area-bg);
  color: #fff;
}

.search-input::placeholder {
  color: var(--main-color);
  opacity: 0.6;
}

.agregar-contacto {
  width: 100%;
  height: calc(100vh - 250px);
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.conecta-dos {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  font-weight: 300;
  width: 100%;
  margin-bottom: 30px;
  color: #fff;
  text-align: left;
  cursor: pointer;
}

.contact img {
  margin-right: 1vh;
}

@media only screen and (max-width: 768px) { 
  .popup-window {
    width: 100%;
  }

  .search-wrapper{
    margin-top: 27px;
  }
}
