.card-unit {
  width: 100%;
  min-height: 100px;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 24px;
  background: #2e2e2c;
  box-shadow: 5px 7px 10px 0px rgba(0, 0, 0, 0.15);
  text-align: left;
  padding: 34px;
  position: relative;
}

.card-info-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: start;
  align-items: start;
}

.card-history-container {
  display: none;
}

.card-bar-container {
  width: 100%;
}

.card-progress-bar-cold {
  width: 40%;
  height: 9px;
  display: flex;
  background-color: #2467ff;
  border-radius: 10px;
}

.card-progress-bar-hot {
  width: 40%;
  height: 9px;
  display: flex;
  background-color: #f2cc3b;
  border-radius: 10px;
}

.card-progress-bar-warm {
  width: 40%;
  height: 9px;
  display: flex;
  background-color: #7fe698;
  border-radius: 10px;
}

.card-progress-bar-frost-icon {
  width: 23px;
  height: 23px;
  left: calc(40% - 2%);
  position: absolute;
  background-size: 23px 23px;
  margin: 0;
  background-image: url(/images/cold-icon.svg);
}

.card-progress-bar-hot-icon {
  width: 23px;
  height: 23px;
  left: calc(40% - 2%);
  position: absolute;
  background-size: 23px 23px;
  margin: 0;
  background-image: url(/images/yellow_state.svg);
}

.card-progress-bar-warm-icon {
  width: 23px;
  height: 23px;
  left: calc(40% - 2%);
  position: absolute;
  background-size: 23px 23px;
  margin: 0;
  background-image: url(/images/green_state.svg);
}
/*.card-unit.active {
  border: 1px solid #FF5567;
}*/

.card-state-disabled {
  border-radius: 15px;
  background: #2e2e2c;

  box-shadow: 0px -3px 7px 0px rgba(0, 0, 0, 0.15);
}

.card-state-active {
  border-radius: 15px;
  background: #2e2e2c;

  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
}

.card-info {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px 0 0;
}

.card-title {
  font-size: 18px;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  line-height: 1.38889;
  margin-bottom: 10px;
}

.card-location {
  font-size: 18px;
  color: #fff;
  font-style: normal;
  font-style: normal;
  font-weight: 600;
  line-height: 1.38889;
}

.card-sub {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  margin: 10px 0px;
}

.card-detalles {
  display: flex;
  color: #fff;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.78611;
}

.card-sub {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  margin-top: 15px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.78611;
}

.card-back {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
}

.img-card {
  margin: 0px 24px;
}

.image-card-circle {
  border-radius: 100%;
}

.img-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.card-right-arrow-icon {
  width: 18px;
  height: 36px;
  background-size: 18px 36px;
  margin: 0;
  background-image: url(/images/oportunities-card-right-arrow.svg);
  position: absolute;
  top: 20px;
  right: 17px;
}

@media only screen and (max-width: 1024px) {
  .card-state-active .card-history-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: start;
    align-items: start;
  }

  .card-state-active .card-info-container,
  .card-state-active .card-progress-bar-container {
    display: none;
  }

  .card-unit {
    padding: 20px;
  }

  .card-right-arrow-icon {
    background-image: url(/images/oportunities-card-down-arrow.svg);
  }

  .card-state-active .card-right-arrow-icon {
    background-image: url(/images/oportunities-card-up-arrow.svg);
  }

  .card-info {
    padding: 0px;
    margin: 0px;
  }

  .card-title {
    font: 14px;
    font-weight: 500;
    margin: 0px;
  }

  .card-location {
    font: 14px;
    font-weight: 500;
  }

  .card-sub {
    font: 14px;
    font-weight: 400;
    margin: 0px;
  }

  .card-progress-bar-container {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .img-card {
    margin: 0px 15px;
  }

  .img-card img {
    width: 50px;
    height: 50px;
  }

  .card-unit {
    /*padding: 17px 10px;*/
  }
}
