.contacto {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin: 0 auto;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;
  font-size: 14px;
}

.conecta {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recientes {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.crear-contacto {
  width: 60%;
  height: 50px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 10px;
  border: 1px solid #fff;
  text-transform: uppercase;
  padding: 10px 0px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  background-color: #56555500;
  display: flex;
  align-items: center;
  justify-content: center;
}

i.fa-solid.fa-plus {
  padding-right: 15px;
  font-size: 28px;
  font-weight: 200;
}

.contacto-existente {
  width: 60%;
  height: 50px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 10px;
  border: 1px solid #2467ff;
  text-transform: uppercase;
  margin-top: 20px;
  padding: 10px 0px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  background-color: #2467ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

i.fa-solid.fa-user {
  padding-right: 15px;
  font-size: 28px;
  font-weight: 200;
}

.conecta-contacto {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 500;
}
.contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  font-weight: 300;
  width: 100%;
  margin-bottom: 15px;
  text-align: left;
}

.contact img {
  margin-right: 1vh;
}

@media only screen and (max-width: 768px) {
  .contacto {
    flex-direction: column;
    align-items: center;
  }

  .conecta {
    width: 90%;
    margin-bottom: 25px;
  }

  .recientes {
    width: 90%;
  }

  .crear-contacto {
    width: 80%;
  }

  .contacto-existente {
    width: 80%;
  }
}
