.typePopUp {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  opacity: 0;
  transition:
    opacity 0.5s ease-in-out 0.15s,
    top 0s linear 1s;
}

.activePopUp.typePopUp {
  top: 0;
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0s;
}

.bgTypePopUp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000055;
}

.activePopUp .wrapperTypePopUp {
  transform: translateX(0%);
}

.wrapperTypePopUp {
  position: relative;
  width: 30%;
  height: 100%;
  background-color: #343434;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 11;
  transform: translateX(100%);
  transition: all 0.35s linear;
}

.topContent {
  position: fixed;
  z-index: 12;
  display: flex;
  flex-direction: row;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: #2c2c2c;
  padding: 20px 30px;
  justify-content: space-between;
  align-items: center;
}

.closeIcon {
  width: 22px;
  height: 22px;
  background-image: url(/images/close-white.svg);
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.arrowBack {
  width: 25px;
  height: 25px;
  background-image: url(/images/back.svg);
  cursor: pointer;
}

.topContentInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.topContentTitle {
  width: 100%;
  text-align: start;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
}

.topContentSubTitle {
  width: 100%;
  text-align: start;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.BottomContent {
  position: fixed;
  z-index: 12;
  display: flex;
  flex-direction: row;
  bottom: 0;
  width: 100%;
  height: 65px;
  background-color: #2c2c2c;
  padding: 10px 30px;
  justify-content: center;
  gap: 20px;
}

/*.deleteIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #4d4d4d4d;
  position: relative;
  cursor: pointer;
}

.deleteIcon:before {
  content: '';
  width: 60%;
  height: 60%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(/images/delete.svg);
  position: absolute;
  top: 20%;
  left: 20%;
}*/

.formType {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 100px 25px 85px;
  margin: 0 auto;
  margin-top: 20px;
  overflow: auto;
}

.typeLabel {
  width: 100%;
  text-align: center;
}

.labelText {
  color: #fff;
  width: 100%;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 2.13;
  text-align: left;
  margin-bottom: 10px;
}

.labelInputTitle {
  color: #fff;
  width: 50%;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 2.13;
  text-align: left;
}

.inputTypeForm {
  width: 100%;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  border: 1px solid #fff;
  padding: 0 10px;
  height: 35px;
  background-color: transparent;
  color: #fff;
}
.quantityLabel {
  margin-top: 25px;
}

.quantityLabel .labelText {
  color: #969696;
}

.inputQuantityForm {
  width: 55px;
  border-radius: 5px;
  border: 1px solid #fff;
}

.inputsGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}
.typeFeatures {
  width: 40%;
}

.imgType {
  width: 60%;
  box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border: 1px solid #fff;
  background-color: #fafafa;
  overflow: hidden;
  background-color: transparent;
  background-image: url(/images/camera_white_icon.svg);
  background-size: 80px;
}

.manyTypeLabels {
  margin-bottom: 25px;
}

.manyTypeLabels .inputTypeForm {
  width: 100px;
  height: 35px;
  flex-shrink: 0;
}

.manyTypeLabels:last-of-type {
  margin-bottom: 0;
}

.labelImgType {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
}

.labelGroup {
  width: 48%;
}

.labelTextGroup {
  color: #fff;
  font-style: normal;
  font-weight: 700;
  
  margin-bottom: 20px;
}

.targetInputGroup {
  border-radius: 5px;
  border: 1px solid #fff;
  padding: 10px 10px;
  width: 100%;
  appearance: none;
  background-color: #2e2e2c;
  color: #fff;
  text-align: center;
}

.targetInputGroup::placeholder {
  color: #c7c7c7;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  text-align: center;
}

.tl.targetInputGroup::placeholder {
  text-align: left;
}

.buttonCreateType {
  width: 195px;
  height: 45px;
  font-size: 14px;
}

.buttonsCreateType {
  /*margin-top: 700px;*/
}

/* popup*/

.popSuccessCreated,
.popError {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition:
    top 0s linear 0.5s,
    opacity 0.5s ease-in-out;
}

.popSuccessCreated.activePopUp {
  top: 0;
  opacity: 1;
  transition:
    top 0s linear.0s,
    opacity 0.5s ease-in-out;
}

.popError.activePopUp {
  top: 0;
  opacity: 1;
  transition:
    top 0s linear.0s,
    opacity 0.5s ease-in-out;
}

.bgPopUp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000055;
}

.popup2 {
  margin: 70px auto;
  padding: 50px 68px;
  border-radius: 5px;
  width: 30%;
  height: auto;
  position: relative;
  transition: all 5s ease-in-out;
  z-index: 9;
  top: 0px;
  text-align: center;
  border-radius: 10px;
  background: #343434;
  box-shadow: 0px 0px 46.667px 0px rgba(0, 0, 0, 0.25);
}

.popup3 {
  margin: 70px auto;
  padding: 50px 20px;
  border-radius: 5px;
  width: 30%;
  height: auto;
  position: relative;
  transition: all 5s ease-in-out;
  z-index: 9;
  top: 0px;
  text-align: center;
  border-radius: 10px;
  background: #343434;
  box-shadow: 0px 0px 46.667px 0px rgba(0, 0, 0, 0.25);
}

.popup {
  margin: 70px auto;
  padding: 40px 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  height: auto;
  position: relative;
  transition: all 5s ease-in-out;
  z-index: 9;
  top: 0px;
  text-align: center;
}

.popup h2 {
  margin-top: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.pop-text {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.86;
  margin-top: 20px;
}

.pop-text-bold {
  font-weight: 700;
}

.popup .close {
  position: absolute;
  top: 0;
  right: 30px;
  transition: all 200ms;
  font-size: 50px;
  font-weight: 100;
  text-decoration: none;
  color: #fff;
}
.popup .close:hover {
  color: #fff;
}
.popup .content {
  overflow: auto;
}

.icon-box {
  margin: 0 auto;
  color: #c7c7c7;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.icon-box img {
  width: 80px;
  height: 80px;
}

.icon-box .subir {
  width: 30% !important;
  padding: 15px 10px;
}

/*Image*/

.image {
  width: 100%;
  height: 215px;
}

.images {
  height: auto;
  text-align: left;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.imageSelected {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  /*background-color: #fafafa;*/
  opacity: 0;
  cursor: default;
  visibility: hidden;
  transition: all 0.25s ease-in-out;
}

.active .imageSelected {
  opacity: 1;
  visibility: visible;
}

.image-movil,
.file-movil {
  display: none;
}

.label {
  width: 100%;
  margin: 52px 0 20px;
  display: flex;
  align-items: center;
  color: #fff;
}

.labelInputText {
  width: auto;
  margin: auto 0;
  display: flex;
  align-items: center;
  color: #fff;
}

.labelInputImage {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.main-image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-image: url(/images/photo-icon.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40px 40px;
  margin: 0 0 0 0;
  display: block;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  border: 1px dashed #fff;
}

.deleteIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  background-image: url(/images/delete-light.png);
}

.active .deleteIcon {
  opacity: 1;
  visibility: visible;
}

@media only screen and (max-width: 1380px) {
  .wrapperTypePopUp {
    width: 40%;
  }
}
@media only screen and (max-width: 768px) {
  .wrapperTypePopUp {
    width: 100%;
    border: none;
    box-shadow: none;
    overflow-y: hidden;
  }

  .imgType {
    width: 90%;
    min-height: 100px;
    box-shadow: none;
    border: 1px solid #fff;
    background-color: #fafafa;
    overflow: hidden;
    background-color: transparent;
    background-image: url(/images/camera_white_icon.svg);
    background-size: 40px;
  }

  .inputsGroup {
    flex-direction: column;
    align-items: center;
    gap: 2px;
    margin-bottom: 15px;
  }

  .typeFeatures {
    width: 100%;
  }

  .labelText {
    width: 100%;
    margin-bottom: 0;
    text-align: start;
  }

  .formType {
    padding: 90px 25px 95px;
  }

  .manyTypeLabels .inputTypeForm {
  }

  .labelGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .labelTextGroup {
    width: 55%;
  }

  .buttonsCreateType {
    width: 100%;
    flex-direction: column;
    margin-top: 50px;
    gap: 20px;
  }
  .buttonsCreateType button {
    width: 100%;
    height: 35px;
    max-width: none;
  }

  .inputTypeForm {
    padding: 5px 10px;
  }

  .inputTypeForm {
    width: 100%;
  }

  /*image*/

  .file {
    display: none;
  }

  .image {
    width: 100%;
    height: auto;
  }

  .image-movil {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
  }

  span.label {
    
    margin: 40px 0 20px;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.45;
  }

  .main-image {
    width: 100%;
    height: 200px;
    background-size: 42px 35px;
    border-radius: 5px;
    border: 1px solid #fff;
  }

  .manyTypeLabels {
    margin-bottom: 15px;
  }

  .manyTypeLabels .inputTypeForm {
    width: 45%;
  }
}
