.search {
  background-color: white;
}

.main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 150px;
  padding: 0 0px 0px;
  position: relative;
  z-index: 2;
  margin-bottom: 50px;
  gap: 50px;
}

.top-content {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  background-color: #282624;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 70px;
  z-index: 3;
  text-transform: uppercase;
}

.top-content .icon {
  background-image: url(/images/back.svg);
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.title {
  width: calc(100% - 40px);
}

.filter_container {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
}

.label_filter {
  margin: 20px 0 20px;
  color: #fff;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0 22px;
}

.filter_input {
  padding: 15px;
  border: 1px solid #4d4d4d;
  border-radius: 10px;
  width: 285px;
  height: 45px;
  box-sizing: border-box;
  appearance: none;
  margin: 0 20px;
  padding: 0;

  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  /*line-height: 0.5;*/
  letter-spacing: 1.26px;
  text-transform: uppercase;

  cursor: pointer;
  background-image: url(/images/arrow_filter.svg);
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
}

.oportunidades {
  width: 48%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-container {
  width: calc(100% - 50px);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.icon {
  width: 35%;
  height: auto;
  justify-content: start;
}

i.fa-solid.fa-angle-left {
  left: 0;
  font-size: 30px;
  display: flex;
  align-items: start;
}

.top-content.title {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tipo-sub {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.38;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  margin-top: 15px;
}

.back {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
}

.img-tipo {
  position: relative;
}

.img-tipo img {
  width: 100px;
  height: 100px;
  margin-left: 10px;
  border-radius: 10px;
  position: relative;
}
.zoom {
  background-image: url(/images/zoom.png);
  background-repeat: no-repeat;
  background-color: #2467ff;
  background-position: center;
  background-size: auto;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  right: 0;
  position: absolute;
  top: 0;
  padding: 4px;
  width: 25px;
  height: 25px;
  text-align: center;
}

.wrap-right {
  width: 50%;
  height: auto;
}

.card-unit-list {
  width: 100%;
}

/* PDF */

.iframe-popup {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  width: 100%;
  height: 100%;
}

.iframe-popup-content {
  position: relative;
  box-shadow:
    0px 0px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #343434;
  padding: 35px 20px 20px 20px;
  width: 65%;
  height: 90%;
}

.iframe-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-image: url(/images/close-white.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

@media only screen and (max-width: 1024px) {
  .oportunidades {
    width: 100%;
  }

  .card-container {
    width: 80%;
    margin: auto;
  }

  .wrap-right {
    display: none;
  }

  .card-container {
    gap: 37px;
  }
}

@media only screen and (max-width: 768px) {
  .card-container {
    width: 90%;
    margin: auto;
  }
}
