.main-contain-contact {
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.crear-contacto {
  width: 64px;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  background-image: url(/images/add-contact.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65%;
  background-color: #ff5567;
  border-radius: 50%;
  margin-left: auto;
}

.crear-contacto-container{
  margin-top: 50px;
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.contact-top {
  width: 100%;
  height: auto;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 35px;
  margin-top: 40px;
  border-bottom: 1px solid #d9d9d9;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}

.nombre {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-weight: 700;
}

.mail {
  width: 40%;
  font-weight: 700;
}

.numero {
  width: 20%;
  text-align: right;
  font-weight: 700;
}

.listas {
  width: 100%;
  height: auto;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 35px;
  margin-top: 40px;
}

.listas:first-of-type{
  padding-bottom: 0;
}
.listas:last-of-type{
  margin-top: 0;
}

.reciente {
  width: 100%;
  height: auto;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 35px;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.list-name {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.contact img {
  margin-right: 20px;
}

.list-number img {
  margin-left: 20px !important;
}
.list-mail {
  width: 40%;
  padding-top: 20px;
}

.list-mail ul li {
  margin: 0 0 47px 0;
}

.list-number {
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.number {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.number img {
  margin-left: 20px;
}

.list-contact {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-between;
  margin-bottom: 30px;
  color: #fff;
}

.reciente-col {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.badge.red {
  background-color: #ff5567;
  border-radius: 50%;
  left: -3px;
  position: absolute;
  top: -5px;
  color: #fff;
  padding: 4px;
  width: 25px;
  height: 25px;
  text-align: center;
}

.badge {
  display: inline-block;
}

.iconos-movil {
  display: none;
}
@media only screen and (max-width: 1200px) {

  .wa-movil img{
    width: 50px;
    height: 50px;
  }

  .reciente {
    font-size: 14px;
  }

  .list-mail,
  .list-number {
    width: 30%;
  }
  .contact,
  .reciente-col,
  .number {
    width: 33%;
  }

  .contact-top {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .crear-contacto-container{
    position: absolute;
    bottom: 48%;
  }

  .crear-contacto{
    width: 48px;
    height: 48px;
    background-image: url(/images/create-contect-movile.png);
  }

  .contact-top,
  .reciente {
    display: none;
  }
  .reciente-col,
  .number {
    display: none;
  }

  .iconos-movil {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: flex-end;
    align-items: center;
  }
  .phone-movil {
    width: 50%;
  }
  .wa-movil {
    width: 50%;
  }

  .contact {
    width: 70%;
  }
}
