.wrap-datos {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.wrap-datos > div {
  height: 100%;
  padding-top: 73px;
  align-items: stretch;
}

.close {
  width: 30px;
  height: 30px;
  background-image: url(/images/close-white.svg);
  position: absolute;
  top: 90px;
  right: 20px;
  z-index: 3;
}

.sub-title {
  font-size: 18px;
  color: #fff;
  margin: 50px 0 0px;
  font-weight: 700;
}

.datos-left {
  width: 48%;
  padding-top: 30px;
}

.datos-right {
  padding-top: 30px;
  width: 48%;
  height: auto;
  position: relative;
}

.datos-right:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/images/default-contact.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.datos-right:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: 1;
  background-color: #21221d9a;
}

.msform {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.top-name {
  width: 100%;
  height: 100px;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  z-index: 2;
}

.top-name span {
  padding-bottom: 5px;
  border-bottom: 4px solid #2467ff;
}

.msform input,
.msform textarea {
  padding: 15px;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-bottom: 30px;
  width: 100%;
  box-sizing: border-box;
  color: #fff;
  background-color: #343434;
  font-weight: 300;
}

.msform input::placeholder {
  color: #fff;
}

.foto {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  margin: 20px 0px 50px 0;
  font-weight: 500;
}

.outerImg {
  background-color: #ff5567;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.foto img {
  width: 100%;
}
.msform .action-button {
  width: 100%;
  background: #2467ff;
  font-weight: 300;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 20px;
  margin: 10px 5px;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 10px;
  text-align: center;
}

.crear-contacto {
  width: 100%;
  height: 50px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 10px;
  border: 1px solid #fff;
  text-transform: uppercase;
  padding: 10px 30px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
  display: none; /*Scope*/
}

.contacto-existente {
  width: 100%;
  height: 50px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 10px;
  border: 1px solid #2467ff;
  text-transform: uppercase;
  padding: 10px 30px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  background-color: #2467ff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  /*margin-top: 30px; Scope*/
  margin-top: 50px;
}

.campo {
  width: auto;
  padding: 7px 15px;
  margin: 30px 20px 0 0;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.campo:hover {
  background-color: #2467ff;
  color: #fff;
  border: 1px solid #2467ff;
}

.informacion-datos {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  z-index: 2;
  position: relative;
}

.datos {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.top-content {
  width: 100%;
  height: auto;
  text-transform: uppercase;
  color: #4d4d4d;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 30px 0px;
}

.top-content {
  display: none;
}

.top-content-buttonsBar {
  width: 100%;
  text-transform: uppercase;
  color: #4d4d4d;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  top: 73px;
  padding: 15px 0;
}

.top-content-buttonsBar > div {
  gap: 40px;
}

.top-content-container {
  justify-content: center;
  align-content: center;
  flex-direction: column;
  display: flex;
  margin: 0px 0px;
}

.top-buttons-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 40px;
}

.top-content-buttons {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 0.81;
  cursor: pointer;
}
.top-content-bar.active {
  width: 100%;
  padding: 0px 25%;
  height: 5px;
  border-radius: 7px;
  margin-top: 5px;
  background: #2467ff;
}

.buttons-right {
  display: none;
}

@media only screen and (min-width: 2000px) {
  .wrap-datos {
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .wrap-datos > div {
    height: auto;
    padding-top: 73px;
    align-items: stretch;
  }

  .page-disabled {
    display: none;
  }

  .datos-left.page-active .crear-contacto {
    display: none;
  }

  .close {
    /*top: 80px;*/
    right: 0px;
  }

  .top-content {
    display: block;
  }

  .top-name {
    display: none;
  }

  .wrap-datos {
    flex-direction: column;
  }

  .buttons-right {
    width: 100%;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
  }

  .datos-left {
    width: 90%;
    margin: 0px auto 110px auto;
    padding-top: 0px;
  }
  .datos-right {
    width: 100%;
    margin: 0px auto 110px auto;
    padding: 0px;
  }

  .datos-right:before {
    background-image: none;
  }
  .datos-right:after {
    backdrop-filter: none;
    background-color: transparent;
  }

  .informacion-datos {
    width: 90%;
  }

  .sub-title {
    margin-top: 0px;
    margin-bottom: 21px;
  }
  .datos {
    margin-bottom: 30px;
    grid-row-gap: 20px;
    grid-column-gap: 8px;
  }

  .contacto-existente {
    /*margin-top: 8px; Scope*/
    margin-top: 125px;
  }

  .msform input,
  .msform textarea {
    margin-bottom: 24px;
  }

  .foto {
    margin: 18px 0px 42px 0px;
  }

  .outerImg {
    padding: 1px;
  }

  .campo {
    margin: 0px;
  }

  .crear-contacto {
    margin-top: 125px;
  }
}

@media only screen and (max-width: 480px) {
  .top-content-buttons {
    font-size: 12px;
  }

  .top-buttons-container {
    gap: 10px;
  }
}
