.wrap-datos {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.wrap-datos > div{
  height: 100%;
  padding-top: 73px;
}

.close {
  width: 30px;
  height: 30px;
  background-image: url(/images/close-white.svg);
  position: absolute;
  top: 90px;
  right: 20px;
  z-index: 3;
}

.sub-title {
  font-size: 18px;
  color: #fff;
  margin: 50px 0 0px;
  font-weight: 700;
}

.datos-left {
  width: 48%;
  padding-top: 30px;
}

.datos-right {
  padding-top: 30px;
  width: 48%;
  height: auto;
  position: relative;
}

.datos-right:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 73px);
  background-image: url(/images/default-contact.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.datos-right:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 73px);
  backdrop-filter: blur(5px);
  z-index: 1;
  background-color: #21221d9a;
}

.msform {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.top-name {
  width: 100%;
  height: 100px;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  z-index: 2;
}

.top-name span {
  padding-bottom: 5px;
  border-bottom: 4px solid #2467ff;
}

.msform input,
.msform textarea {
  padding: 15px;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-bottom: 30px;
  width: 100%;
  box-sizing: border-box;
  color: #fff;
  background-color: #343434;
  font-weight: 300;
}

.msform input::placeholder {
  color: #fff;
}

.foto {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  margin: 20px 0px 50px 0;
  font-weight: 500;
}

.outerImg {
  background-color: #ff5567;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.foto img {
  width: 100%;
}
.msform .action-button {
  width: 100%;
  background: #2467ff;
  font-weight: 300;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 20px;
  margin: 10px 5px;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 10px;
  text-align: center;
}

.crear-contacto {
  width: 100%;
  height: 50px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 10px;
  border: 1px solid #fff;
  text-transform: uppercase;
  padding: 10px 30px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
}

.contacto-existente {
  width: 100%;
  height: 50px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 10px;
  border: 1px solid #2467ff;
  text-transform: uppercase;
  padding: 10px 30px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  background-color: #2467ff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 30px;
}

.campo {
  width: auto;
  padding: 7px 15px;
  margin: 30px 20px 0 0;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.campo:hover {
  background-color: #2467ff;
  color: #fff;
  border: 1px solid #2467ff;
}

.informacion-datos {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  z-index: 2;
  position: relative;
}

.datos {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

@media only screen and (max-width: 890px) {
  .wrap-datos {
    flex-direction: column;
  }

  .datos-left {
    width: 100%;
  }
  .datos-right {
    width: 100%;
    margin-top: 100px;
  }
}
