.logo {
  width: 50%;
}

.menu-top {
  width: 50%;
  justify-content: flex-end;
  margin-right: 20px;
}

.wrap-dashboard {
  width: 90%;
  max-width: 1600px;
  padding-top: 200px;
  height: auto;
  margin: 0 auto;
}

.top-dashboard {
  width: 100%;
  display: flex;
  height: auto;
  margin: 0 auto;
  align-items: center;
  position: fixed;
  top: 73px;
  width: 100%;
  background: rgba(33, 34, 29, 0.3);
  backdrop-filter: blur(3.5px);
  padding: 10px 0;
}

.perfil-img {
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 35px;
  display: flex;
  align-items: center;
}

.perfil-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.welcome {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 70%;
  margin-bottom: 10px;
}

.welcome-tit {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
}

.welcome-text {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20px;
}

.profile {
  font-size: 18px;
  font-weight: 200;
  color: #fff;
  text-align: center;
  width: 100%;
  display: flex;
}

.widgets {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.top-w {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 60px;
}

.outerOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  gap: 5px;
  text-transform: uppercase;
  margin-right: 25px;
  cursor: pointer;
}

.categories {
  background-image: url(/images/order.svg);
  width: 41px;
  height: 41px;
  cursor: pointer;
}

.filtros {
  background-image: url(/images/filter.svg);
  width: 41px;
  height: 41px;
  margin-left: 10px;
  cursor: pointer;
}

.reporte {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 30px 0;
}

.download {
  width: 60%;
  background-color: #fff;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  padding: 20px 20px;
  border-radius: 5px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.calendar {
  width: auto;
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  font-size: 18px;
}

.start {
  background-color: #565555;
  padding: 15px;
  color: #c7c7c7;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
  margin-left: 30px;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 7;
  overflow: scroll;
}

.popup {
  margin: 70px auto;
  padding: 90px 50px 50px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  height: auto;
  position: absolute;
  transition: all 5s ease-in-out;
  z-index: 9;
  top: 40px;
  right: 0px;
}

.pop-text {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  line-height: 30px;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 50px;
  font-weight: 200;
  text-decoration: none;
  color: #333;
}

.popup .content {
  overflow: auto;
}

.cat-input {
  padding: 15px;
  border: 1px solid #4d4d4d;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #c7c7c7ce;
  font-family: 'Lexend', sans-serif;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.side-a {
  width: 80%;
  height: auto;
  display: flex;
  align-items: center;
}

.side-b {
  width: 20%;
  background-image: url(/images/categorias.png);
  background-repeat: no-repeat;
  background-position: right;
}

.check {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}
.text-cat {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

.buscar {
  width: 100%;
  background: #2467ff;
  font-weight: 300;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 20px;
  margin: 50px 0px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 10px;
  text-align: center;
}

.pop2-text {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.proyecto-pop {
  margin-top: 30px;
}

.subject_input {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 40px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  color: #c7c7c7ce;
  font-size: 18px;
  appearance: none;
  background-image: url(/images/arrow-select.png);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
  background-repeat: no-repeat;
  text-transform: uppercase;
}

.subject_input:after {
  margin-right: 20px;
}

.subject_input {
  position: absolute;
  content: '';
  top: 14px;
  right: 30px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #2467ff transparent transparent transparent;
}

.subject_input:before {
  content: '';
  position: absolute;
  right: 5px;
  top: 7px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 5px 0 5px;
  border-color: #000000 transparent transparent transparent;
  z-index: 5;
  pointer-events: none;
  background: red;
}

.subject_input:focus {
  outline: none;
}

.allChartsContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1%;
  margin-top: 50px;
  flex-wrap: wrap;
}

.wrapChart {
  width: 32.3333%;
}

.outerChart {
  width: 30%;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: 20px 10px;
}

.titleChart {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.input-date {
  background-color: transparent;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.5px;
  background-image: url(/images/calendar.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 95% 50%;
  width: 150px;
}

.separator {
  width: 20px;
  height: 2px;
  background-color: #fff;
  margin: 0 20px;
}

.table {
  padding: 10px;
  color: #fff;
}

.title-table {
  text-align: center;
  padding: 10px 0;
  background-image: url(/images/largeCell.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  font-weight: 700;
  margin-bottom: 10px;
}

.rowTable {
  width: 100%;
}

.tableCell {
  padding: 2px 5px;
  height: 40px;
  font-size: 13px;
  width: 33.33333%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.blueCell {
  background-image: url(/images/largeCell.png);
}
.whiteCell {
  background-image: url(/images/whiteCell.png);
  color: #000;
}

.large-cell-table {
  width: 100%;
  margin-top: 10px;
}

.large-cell-table p {
  width: 33.333%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 0;
}

@media only screen and (max-width: 990px) {
  .menu-top {
    width: 100% !important;
    justify-content: center !important;
  }
}

@media only screen and (max-width: 768px) {
  .top-dashboard {
    flex-direction: column;
  }

  .welcome,
  .download,
  .calendar {
    display: none;
  }

  .top-w {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 12;
  }

  .popup {
    top: 0;
    width: 100%;
  }

  .subject_input,
  .text-cat {
    font-size: 12px;
  }

  .pop2-text {
    font-size: 13px;
  }

  .check {
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }
  .buscar {
    font-size: 11px;
  }
}
