@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*::-webkit-scrollbar {
  border-radius: 10px;
  background-color: #c7c7c7;
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  background-color: #565555;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1600px;
}

.containerEstate {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 50px;
  width: 200%;
  max-height: 90vh;
  overflow-y: auto;
}

.main {
  position: relative;
  position: relative;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  z-index: 2;
  /* top: 150px; */
  padding-top: 30px;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.top-content {
  display: flex;
  position: fixed;
  position: relative;
  top: 70px;
  flex-direction: row;
  justify-content: flex-start;
  z-index: 3;
  backdrop-filter: blur(3.5px);
  margin-bottom: 40px;
  background: rgba(33, 34, 29, 0.3);
  padding: 15px 0;
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  text-transform: uppercase;
}

/* 
.containerEstate {
  width: 200%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 50px;
  overflow-y: auto;
}

.main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 50px 50px;
  position: relative;
  z-index: 1;
  margin-bottom: 50px;
  padding-top: 200px;
}
.top-content {
  width: 100%;
  min-height: 77px;
  text-transform: uppercase;
  color: #4d4d4d;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  position: fixed;
  top: 70px;
  padding: 15px 0;
  background-color: rgba(33, 34, 29, 0.7);
  z-index: 2;
}

*/

.top-content a ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.top-content ul {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0;
  width: 90%;
  max-width: 1600px;
  list-style: none;
}

.back-arrow {
  display: block;
  margin-right: 50px;
  background-image: url(/images/back.svg);
  width: 15px;
  height: 25px;
}

.buttonTopDetailState {
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  margin-right: 50px;
  border-bottom: 3px solid #2466ff00;
  width: auto;
  height: auto;
  color: #c7c7c7;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}

.itemTopContent.active .buttonTopDetailState {
  border-bottom: 3px solid #2467ff;
  color: #fff;
  font-weight: 700;
}

.itemTopContent,
li {
  color: #c7c7c7;
}

.unidadesSide {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  transform: translateX(-100%);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  width: 50%;
}

.unidadesSide.active {
  transform: translateX(0%);
  visibility: visible;
  opacity: 1;
}

.infoContainer {
  transform: translateX(0%);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  padding-right: 50px;
  width: 50%;
  overflow-y: auto;
}

.infoContainer.active {
  transform: translateX(-100%);
  visibility: visible;
  opacity: 1;
}

.unidades {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.editProject {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 5px;
  background-image: url(/images/edit-icon.svg);
  background-size: 60% !important;
  background-color: #2467ff;
  width: 50px;
  height: 50px;
}

.selectFilterProject {
  appearance: none;
  margin-left: 30px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: rgba(33, 34, 29, 0.3);
  padding: 10px 20px;
  padding-right: 50px;
  color: #fff;
}

.selectFilterFlex {
  display: flex;
}

.outerTypes {
  width: calc(50% - 50px);
}

.tipo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  /* max-height: calc(100vh - 350px); */
  /*padding: 10px 20px 0 0px;*/
  margin: 20px 0;
  width: 100%;
  height: auto;
}

.outerUnits {
  padding-top: 20px;
  width: calc(50% - 50px);
}

.caracteristicas {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  overflow-y: auto;
}

.caracteristicas-top-movil {
  display: none;
}

.add-unit-movil {
  align-self: center;
  margin-top: 10px;
  width: 80%;
}

.add-unit-movil span {
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.38;
  text-transform: uppercase;
}

.tipo-unit {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  transition: all 0.25s ease-in-out;
  box-shadow: 2px 7px 10px 0px #00000026;
  border: 1px solid #ff556700;
  border-radius: 15px;
  background-color: #2e2e2c;
  padding: 20px;
  width: 100%;
  height: auto;
  min-height: 100px;
  text-align: left;
}

.itemDrag:hover .tipo-unit,
.itemDrag.active .tipo-unit {
  top: -0;
  left: 20px;
}

.tipo-unit.informacion {
  display: initial;
  flex-wrap: wrap;
  box-shadow:
    0px 0px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  background: rgba(33, 34, 29, 0.35);
  padding: 40px 30px;
  width: 480px;
  height: auto;
  text-align: left;
}

.img-tipo {
  position: relative;
  width: 125px;
  height: 125px;
}
.img-tipo img {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-tipo-glass {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 2;
  background-image: url(/images/tipo-glass-pink.svg);
  width: 37px;
  height: 37px;
}

.tipo-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  padding: 10px;
  height: auto;
}

.itemDrag .tipo-info {
  width: calc(100% - 140px);
}

.tipo-title {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.38;
  text-transform: uppercase;
}

.llave {
  width: 40px;
  height: 40px;
  /*background-image: url(/images/key.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: all 0.25s ease-in-out; Scope*/
}

/*.llave:hover {
  background-image: url(/images/key-dark.svg);
} Scope*/

.valor {
  color: #fff;
  font-weight: 400;
  /* padding-top: 33px; */
  font-size: 16px;
  /* margin-top: 20px; */
  line-height: 2;
}

.arrowDrop {
  display: none;
}

.detalles {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 2.29;
  text-align: left;
}

.detalles img {
  width: 20px;
  height: 20px;
}

.caracteristicas-top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 10px;
  border-bottom: 1px solid #2467ff;
  padding: 5vh 32px 0 50px;
  width: 100%;
  height: auto;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}

.top-tabla {
  margin: 0 10px;
  padding: 30px 0;
  width: 20%;
  text-align: center;
}

.top-tabla:last-of-type {
  margin: 0;
  width: 40%;
}

.info-tabla {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0 20px 0;
  padding: 0 32px 0 50px;
  width: 100%;
  height: auto;
  text-align: center;
  text-transform: uppercase;
}

.edit-type {
  top: 50%;
  left: 2px;
  z-index: 1;
  transition: all 0.25s ease;
  cursor: pointer;
  background-image: url(/images/edit.svg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 30px;
}

.edit-unit {
  z-index: 1;
  transition: all 0.25s ease;
  cursor: pointer;
  background-image: url(/images/edit.svg);
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -15px;
}

.editValues .edit-unit {
  margin-top: -17.5px;
  background-image: url(/images/check-circle.png);
  width: 35px;
  height: 35px;
}

.detalle-tabla {
  display: flex;
  justify-content: center;
  margin: 0 10px;
  width: 20%;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.price-table.detalle-tabla {
  width: 40%;
}

.llave-tabla {
  position: absolute;
  top: 50%;
  right: 0;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  margin-top: -16px;
  background-image: url(/images/key.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}

.llave-tabla:hover {
  background-image: url(/images/key-dark.svg);
}

.llave-tabla-desabled {
  position: absolute;
  top: 50%;
  right: 0;
  cursor: not-allowed;
  margin-top: -16px;
  background-image: url(/images/key-dark.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  pointer-events: none;
}

button.agregar {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 30px;
  border: 1px solid #2467ff;
  border-radius: 10px;
  background-color: #565555;
  padding: 10px 30px;
  width: 40%;
  height: 50px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

i.fa-solid.fa-plus {
  padding-right: 15px;
  font-weight: 200;
  font-size: 28px;
}

.galeria-tipo {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.fecha-estimada {
  margin-top: 22px;
  width: 100%;
  color: #ffffff;
  font-weight: 300;
  font-size: 16px;
  text-align: left;
}

.zoom-img {
  position: absolute;
  top: 2px;
  right: 2px;
  border-radius: 10px;
  background-image: url('/images/search-white.png');
  background-size: 60% !important;
  background-color: #ff5567;
  width: 37px;
  height: 37px;
}

.gallery-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  padding: 20px 0px;
}

.gallery-image img {
  transform: scale(1);

  transition: transform 0.4s ease;
  width: 100%;
}

.img-box {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  background-color: white;
  aspect-ratio: 16/9;
  width: calc(33.3333% - 10px);
  overflow: hidden;
  object-fit: cover;
  color: white;
}

.caption {
  position: absolute;
  bottom: 5px;
  left: 20px;
  opacity: 0;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.transparent-box {
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
}

.img-box:hover img {
  transform: scale(1.1);
}

.img-box:hover .transparent-box {
  background-color: rgba(0, 0, 0, 0.5);
}

.img-box:hover .caption {
  transform: translateY(-20px);
  opacity: 1;
}

.img-box:hover {
  cursor: pointer;
}

.caption > p:nth-child(2) {
  font-size: 0.8em;
}

.opacity-low {
  opacity: 0.5;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.draggable {
  z-index: 3;
  cursor: pointer;
  background-image: url(/images/drag.svg);
  min-width: 25px;
  min-height: 25px;
}

.maskDraggable {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.itemDrag {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  z-index: 10;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  width: 100%;
}

.activeDrag .maskDraggable {
  z-index: 2;
}

.unFade {
  top: -100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.fade {
  top: 0;
  visibility: visible;
  opacity: 1;
}

#logo {
  width: 50%;
}

.menu-top {
  justify-content: flex-end;
  margin-right: 20px;
  width: 50%;
}

/* .top-content {
  width: 95%;
  height: 50px;
  display: flex;
  flex-direction: row;
  font-family: "Lexend", sans-serif;
  text-align: left;
  justify-content: start;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  position: relative;
  top: 30px;
  margin: 0 auto;
} */

.top-content ul li button {
  float: left;
  cursor: pointer;
  margin-right: 50px;
  width: auto;
  height: auto;
  color: #c7c7c7;
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}

/* .top-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
} */

.top-content ul li:first-of-type {
  cursor: pointer;
  background-position: left center;
  /* background-image: url(/images/back.svg); */
  background-size: contain;
  background-repeat: no-repeat;
}

.top-content ul li {
  text-align: left;
}
.top-content ul li,
li {
  color: #c7c7c7;
}

li.active button {
  border-bottom: 3px solid #2467ff;
  color: #4d4d4d;
}
.main-contain-gerente {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 0;
  width: 100%;
  height: auto;
}

.nombre,
.mail,
.reciente-col,
.contact {
  gap: 10px;
  width: 30%;
  color: #fff;
}

.user-data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20%;
  color: #fff;
  text-align: center;
}

.number,
.rol-data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20%;
  color: #fff;
  text-align: center;
}

.number img {
  margin-left: 20px;
}

.iconos-movil {
  display: none;
}

.listas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 0;
  width: 100%;
  height: auto;
}

.list-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 100%;
  height: auto;
  text-align: left;
}
.contact-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 35px;
  width: 100%;
  height: auto;
  color: #fff;
  font-weight: 500;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.crear-usuario {
  display: flex;
  justify-content: end;
  margin: 0 auto;
  margin-top: 50px;
  background-image: url(/images/add.png);
  background-position: right;
  background-size: 60px 60px;
  background-repeat: no-repeat;
  width: 90%;
  height: 60px;
}
.list-name {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.react-datepicker__header.react-datepicker__header {
  border: none;
  background-color: #1c1c1c;
  color: #fff;
}
.react-datepicker__current-month.react-datepicker__current-month,
.react-datepicker-time__header.react-datepicker-time__header,
.react-datepicker-year-header.react-datepicker-year-header {
  margin: 0px 0 20px;
  color: #fff;
}

.react-datepicker.react-datepicker {
  border: none;
  background-color: #1c1c1c;
  padding: 20px;
}

.react-datepicker.react-datepicker {
  font-family: 'Quicksand', sans-serif;
}

.react-datepicker__navigation.react-datepicker__navigation {
  top: 25px;
}

.react-datepicker__day-name.react-datepicker__day-name,
.react-datepicker__day.react-datepicker__day,
.react-datepicker__time-name.react-datepicker__time-name {
  margin: 0;
  border: 1px solid #ffffff6d;
  border-radius: 15px 15px 0 0;
  padding: 2.5px 0;
  width: 35px;
  color: #fff;
}
.react-datepicker__month.react-datepicker__month,
.react-datepicker__month-container.react-datepicker__month-container {
  background-color: #1c1c1c;
}

.react-datepicker-popper[data-placement^='bottom']
  .react-datepicker__triangle::before {
  border-bottom-color: #1c1c1c !important;
}

.react-datepicker-popper[data-placement^='bottom']
  .react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^='bottom']
  .react-datepicker__triangle::after {
  border-bottom-color: #1c1c1c !important;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  border-radius: 0.3rem;
  background-color: #39cdff1a !important;
}

.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover,
.react-datepicker__month-text--selected:hover,
.react-datepicker__month-text--in-selecting-range:hover,
.react-datepicker__month-text--in-range:hover,
.react-datepicker__quarter-text--selected:hover,
.react-datepicker__quarter-text--in-selecting-range:hover,
.react-datepicker__quarter-text--in-range:hover,
.react-datepicker__year-text--selected:hover,
.react-datepicker__year-text--in-selecting-range:hover,
.react-datepicker__year-text--in-range:hover {
  background-color: #39cdff1a;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  background-color: #39cdff1a !important;
  color: #2467ff !important;
}

.tipo-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  height: 100%;
}

.tipo-arrow {
  background-image: url(/images/oportunities-card-right-arrow.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.itemDrag.active .tipo-arrow {
  background-image: url(/images/oportunities-card-left-arrow.svg);
}

.addTypeButton {
  margin-top: 40px;
}

.detailsGroup {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin: 0 15px 0 0;
}

@media only screen and (max-width: 1380px) {
  .unidadesSide {
    margin-bottom: 90px;
  }
  .outerTypes {
    /*margin-bottom: 90px;*/
  }
}
@media only screen and (max-width: 990px) {
  .menu-top {
    justify-content: center;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .main {
    width: 100%;
  }

  .top-content {
    width: 100%;
  }

  .mail,
  .rol-data,
  .number {
    display: none;
  }

  .main-contain-gerente {
    top: 80px;
    width: 100%;
  }

  .crear-usuario {
    position: fixed;
    right: 90px;
    bottom: 140px;
    z-index: 10;
    width: 100%;
  }

  .infoContainer {
    padding-right: 0px;
  }

  .top-content ul li button {
    float: left;
    margin-right: 50px;
    width: auto;
    height: auto;
    color: #c7c7c7;
    font-weight: 300;
    font-size: 12px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
  }

  .contact {
    width: 90%;
    font-weight: 200;
    font-size: 16px;
  }

  .iconos-movil {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 10%;
  }

  .list-name {
    width: 90%;
  }

  /*.container {
    width: auto;
    max-width: 1600px;
    margin: 0 auto;
  }*/
}

@media only screen and (max-width: 568px) {
  .crear-usuario {
    position: fixed;
    right: 60px;
    bottom: 140px;
    z-index: 10;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .main {
    display: flex;
    position: relative;
    top: 70px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    z-index: 2;
    /*padding: 0 20px 50px;*/
    padding: 0;
    width: 100%;
    height: auto;
  }

  .containerEstate {
    padding-bottom: 180px;
    max-height: unset;
  }

  .outerTypes {
    width: 76%;
  }

  .top-content {
    font-size: 16px;
  }

  .top-content ul li button {
    margin-right: 30px;
    font-size: 16px;
  }

  .unidades {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    box-shadow:
      0px 0px 4px 0px rgba(0, 0, 0, 0.25),
      0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    background: rgba(33, 34, 29, 0.35);
    padding: 15px;
    width: 100%;
    min-width: 267px;
    height: auto;
  }

  .tipo {
    margin: 0;
    width: 100%;
  }

  .tipo-unit {
    flex-wrap: wrap;
    backdrop-filter: blur(2.5px);
    box-shadow:
      0px 0px 4px 0px rgba(0, 0, 0, 0.25),
      0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    background: #2e2e2c;
    width: 100%;
    min-width: 320px;
    text-align: left;
  }

  .img-tipo {
    width: 80px;
    height: 80px;
  }
  .img-tipo img {
    position: relative;
    z-index: 1;
    margin-right: 20px;
    width: 100%;
    height: 100%;
  }
  .tipo-title {
    font-size: 12px;
  }
  .valor {
    margin: 0;
    padding-top: 20px;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 1.6;
  }
  .detalle {
    font-size: 10px;
  }

  .tipo-info {
    margin-left: 0;
    padding: 0px;
  }

  .llave {
    background-size: cover;
    width: 30px;
    height: 30px;
  }

  .zoom-img {
    position: absolute;
    top: 4%;
    right: 4%;
    z-index: 2;
    border-radius: 5px;
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
  }

  .caracteristicas-top {
    padding: 20px 32px 20px 0;
    width: 100%;
  }
  .caracteristicas {
    display: none;
  }

  /*.caracteristicas-top-movil {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
  }*/

  .more-info {
    display: block;
    display: flex;
    flex-direction: column;
    transition: all 0.25s ease-in-out;
    width: 100%;
    height: auto;
    max-height: 0px;
    overflow: hidden;
  }

  .tipo-unit.active .more-info {
    max-height: 100vh;
  }

  .top-tabla {
    padding: 0px;
    width: 20%;
    font-size: 12px;
    text-align: center;
    margin: 0;
  }

  .info-tabla {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px 32px 0 0;
    width: 100%;
    height: auto;
    text-align: center;
    text-transform: uppercase;
  }

  .detalle-tabla {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
  }

  .llave-tabla {
    transition: none;
    background-image: url(/images/key.svg);
    background-position: center;
    background-size: 28px 28px;
    background-repeat: no-repeat;
    /* width: 100%;
    height: 40px; */
  }

  .clearfix {
    clear: both;
  }

  .arrowDrop {
    background-color: #565555;
    padding-top: 30px;
    width: 30px;
    height: 60px;
    font-weight: 100;
    font-size: 22px;
    text-align: center;
  }

  .tipo-unit.informacion {
    justify-content: space-evenly;
    box-shadow: none;
    border-bottom: none;
    border-radius: 0px;
    background: none;
    padding: 0;
    width: 100%;
  }

  .img-tipo.informacion {
    margin-right: 20px;
    width: 45px;
    height: 45px;
  }

  .img-box {
    border-radius: 15px;
    width: 100%;
    min-width: 267px;
  }

  .editProject {
    position: absolute;
    top: 14px;
    right: 10px;
    width: 35px;
    height: 35px;
  }
  .gallery-image {
    gap: 13px;
    padding: 0;
  }

  .buttonTopDetailState {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 0.81;
  }

  .back-arrow {
    width: 20px;
    height: 22px;
  }

  .unidadesSide.active {
    width: 100%;
  }

  .itemDrag {
    margin-bottom: 20px;
  }

  .itemDrag:hover .tipo-unit,
  .itemDrag.active .tipo-unit {
    left: 0;
  }

  .itemDrag.active .tipo-arrow {
    background-image: url(/images/arrow-tipo-down.svg);
  }

  .itemDrag.active .caracteristicas-top-movil {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .img-tipo-glass {
    background-size: contain;
    width: 32px;
    height: 32px;
  }

  .itemDrag.active .tipo-title {
    margin-top: 13px;
    margin-left: 10px;
  }

  .itemDrag.active .valor {
    display: none;
  }

  .itemDrag.active .detalles {
    display: none;
  }

  .itemDrag.active .img-tipo {
    width: 40px;
    height: 40px;
  }

  .itemDrag.active .img-tipo-glass {
    width: 18px;
    height: 18px;
  }

  .itemDrag.active .tipo-icons {
    flex-direction: row;
    gap: 20px;
  }

  .selectFilterProject {
    margin-top: 10px;
    margin-left: 0px;
    width: 100%;
  }
  .selectFilterFlex {
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
  }
}

.selectFilterFlex p {
  font-weight: 600;
  font-size: 16px;
}

@media only screen and (max-width: 480px) {
  .itemDrag {
    gap: 10px;
  }
}

@media only screen and (max-width: 375px) {
  .itemDrag {
    gap: 5px;
  }
}

/* Inmuebel detail */
