.main-container {
  max-width: 1600px;
  margin: 0 auto;
  width: 90%;
}

.main {
  width: 100%;
  height: auto;
  position: relative;
  padding: 110px 0 50px;
  z-index: 2;
}

.containerEstates {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 100%;
  gap: 20px;
  margin-top: 30px;
}

.proyectos {
  width: calc(24.5% - 20px);
  height: auto;
  padding: 0px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 20px;
  overflow: hidden;
  background: #565555;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.15), -2px -2px 3px 0px rgba(0, 0, 0, 0.15);
  margin-top: 20px;
  text-align: left;
}

.img-proyect {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.img-proyect img {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  object-fit: cover;
}
.proyect-info {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  text-align: left;
  justify-content: flex-start;
  padding: 20px;
}

.proyect-title {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  height: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.valor {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 20px;
}

.detalles {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  text-align: left;
  margin-top: 10px;
  gap: 10px;
  position: relative;
  min-height: 30px;
}

.editProject {
  position: absolute;
  top: 0;
  right: 0;
  width: 55px;
  height: 30px;
  cursor: pointer;
  background-image: url(/images/edit.svg);
}

.detalles img {
  width: 22px;
  height: 20px;
}

.detalles span {
  margin: 0 10px 0 10px;
}
.menu-footer {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .main-container {
    width: 100%;
  }
  .proyect-title {
    font-size: 16px;
  }

  .valor {
    font-size: 12px;
  }
}

@media only screen and (max-width: 768px) {
  .containerEstates {
    gap: 0px;
    margin-bottom: 80px;
  }
  .proyectos {
    height: 100px;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 90%;
    justify-content: flex-start;
    margin-top: 10px;
    border-radius: 10px;
  }
  .img-proyect {
    max-width: 20%;
    height: auto;
    aspect-ratio: 1/1;
    margin: 10px;
  }

  .img-proyect img {
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  .proyect-info {
    width: fill-available;
    padding: 10px 10px;
  }
  .editProject {
    width: 30px;
    height: 30px;
    top: -180%;
    background-size: cover;
    border-radius: 8px;
  }

  .proyect-title {
    font-size: 15px;
    font-weight: 400;
  }
  .valor {
    margin: 0;
    font-size: 10px;
    font-weight: 300;
    margin-top: 14px;
  }

  .detalles {
    font-size: 11px;
    font-weight: 300;
    margin-top: 0;
  }

  .detalles img {
    width: 11px;
    height: 10px;
  }
}

/*@media only screen and (max-width: 480px) {
  .main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    top: 70px;
    padding: 0 40px 50px;
    position: relative;
    z-index: 2;
  }

  .proyectos {
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #565555;
    box-shadow: 2px 2px 6px #c7c7c7;
    border-radius: 15px;
    margin-top: 20px;
    text-align: left;
    padding: 10px;
  }

  .img-proyect {
    width: 30%;
    height: 80px;
    overflow: hidden;
    margin-right: 1vh;
  }
  .img-proyect img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .proyect-info {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1vh;
  }

  .proyect-title {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
  }

  .valor {
    font-size: 10px;
    color: #fff;
    font-weight: 500;
    margin-top: 20px;
  }

  .detalles {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 11px;
    color: #fff;
    font-weight: 300;
    text-align: left;
    margin-top: 10px;
  }
  .detalles span {
    margin: 0 10px 0 10px;
  }
  .menu-footer {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #565555;
    box-shadow: 0px -3px 8px #dddddd;
    margin-top: 100px;
  }

  .items {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }

  .img-items {
    width: 16px;
    height: 16px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    top: 80px;
  }

  .proyectos {
    flex: 40%;
    display: flex;
    flex-wrap: wrap;
    margin-right: 2vh;
  }
}
*/
