.search {
  background-color: white;
}

.main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px 0px 50px;
  margin-top: 130px;
  position: relative;
  z-index: 1;
  max-height: calc(100vh - 130px);
  overflow-y: auto;
}

.top-content {
  width: 100%;
  height: auto;
  text-transform: uppercase;
  color: #4d4d4d;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 50px;
  z-index: 10;
}

.top-content-buttonsBar {
  width: 100%;
  text-transform: uppercase;
  color: #4d4d4d;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  position: fixed;
  top: 70px;
  background-color: #262824;
  z-index: 2;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-content-buttonsBar > div {
  gap: 40px;
}

.top-content-container {
  justify-content: center;
  align-content: center;
  flex-direction: column;
  display: flex;
  margin: 0px 0px;
}

.top-buttons-container {
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  gap: 40px;
}

.top-content-buttons {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
.top-content-bar.active {
  width: 100%;
  padding: 0px 25%;
  height: 5px;
  border-radius: 7px;
  margin-top: 5px;
  background: #2467ff;
}

.filter_container {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
}

.label_filter {
  margin: 20px 0 20px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0 20px;
  color: #fff;
}

.filter_input {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 285px;
  height: auto;
  box-sizing: border-box;
  color: #fff;
  background-color: rgba(33, 34, 29, 0.7);
  appearance: none;
  margin: 0 20px;
  background-image: url(/images/oportunities-card-down-arrow.svg);
  background-repeat: no-repeat;
  background-size: 16px 8px;
  background-position-x: 95%;
  background-position-y: 50%;
}

.filter_input:active {
  background-image: url(/images/oportunities-card-up-arrow.svg);
  background-repeat: no-repeat;
  background-size: 16px 8px;
  background-position-x: 95%;
  background-position-y: 50%;
}

.oportunities-components-container {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}

.oportunidades {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tipo {
  width: calc(50% - 50px);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.tipo-title {
  font-size: 18px;
  font-weight: 500;
  color: #4d4d4d;
  text-transform: uppercase;
}

.tipo-unit {
  width: calc(80% - 20px);
  min-height: 100px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  background-color: #fff;
  box-shadow: 2px 2px 6px #c7c7c7;
  border-radius: 15px;
  margin-top: 40px;
  text-align: left;
  padding: 20px;
}

.tipo-unit.active {
  background-color: #f9f9f9;
}

.tipo-info {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px 0 0;
}

.tipo-title {
  font-size: 18px;
  font-weight: 500;
  color: #4d4d4d;
  text-transform: uppercase;
}

.tipo-sub {
  font-size: 12px;
  font-weight: 500;
  color: #4d4d4d;
  text-transform: uppercase;
  width: 100%;
  margin-top: 15px;
}

.detalles {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  font-size: 14px;
  color: #4d4d4d;
  font-weight: 200;
  text-align: left;
  margin-top: 10px;
}

.icon {
  width: 35%;
  height: auto;
  justify-content: start;
}

i.fa-solid.fa-angle-left {
  left: 0;
  font-size: 30px;
  display: flex;
  align-items: start;
}

.top-content.title {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tipo-sub {
  font-size: 12px;
  font-weight: 500;
  color: #4d4d4d;
  text-transform: uppercase;
  width: 100%;
  margin-top: 15px;
}

.back {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
}

.img-tipo {
  position: relative;
}

.img-tipo img {
  width: 100px;
  height: 100px;
  margin-left: 10px;
  border-radius: 10px;
  position: relative;
}
.zoom {
  background-image: url(/images/zoom.png);
  background-repeat: no-repeat;
  background-color: #2467ff;
  background-position: center;
  background-size: auto;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  right: 0;
  position: absolute;
  top: 0;
  padding: 4px;
  width: 25px;
  height: 25px;
  text-align: center;
}

.wrap-right {
  width: 50%;
  height: calc(100vh - 155px);
  overflow-y: auto;
  padding: 0 10px 20px 0;
  position: sticky;
  top: 0;
  left: 0;
}

.right {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 50px;
  align-items: stretch;
  flex-wrap: wrap;
}

.line {
  width: 10%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ver-line {
  border-right: 2px solid #4d4d4d;
  height: 100%;
  min-height: 80px;
}

.pendientes {
  width: 70%;
  height: auto;
}

.pendiente-top {
  width: 100%;
  margin-left: 20px;
  margin-bottom: 30px;
}

.greybox {
  background-color: #f3f3f3;
  border-radius: 20px;
  padding: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  position: relative;
}

.info {
  width: 70%;
}

li.pendiente-list {
  font-size: 14px !important;
  font-weight: 400;
  color: #4d4d4d;
}

.box li.pendiente-list {
  font-size: 14px !important;
  font-weight: 200;
  color: #4d4d4d;
}

.ulNode li {
  margin: 10px 0;
  font-size: 14px !important;
  font-weight: 200;
  color: #4d4d4d;
}

.time {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: 300;
  padding-top: 10px;
  color: #777;
}

.box {
  padding: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
  width: 100%;
  height: auto;
  position: relative;
}

.box-dotted {
  min-height: 5px;
  height: auto;
  padding: 5px;
  margin-left: 20px;
  margin-bottom: 30px;
  width: 113%;
  position: relative;
  left: -55px;
  border-top: 2px dashed #2467ff;
  border-bottom: 2px dashed #2467ff;
}

.blue-point {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #2467ff;
  position: absolute;
  top: 0px;
  left: -63px;
}

.blue-point-plus {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #d1f6da;
  color: #2467ff;
  font-size: 14px;
  font-weight: 300;
  position: absolute;
  top: 0px;
  left: -10px;
  text-align: center;
  margin: 0 auto;
  padding: 5px;
}

.pendientes-bottom {
  text-align: center;
  width: 100%;
}

.ver-oportunidad {
  width: 40%;
  height: 50px;
  color: #2467ff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 30px;
  padding: 10px 30px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(0deg, #2467ff, #00bdff) border-box;
  border-radius: 1em;
  border: 2px solid transparent;
  margin: 0 auto;
}

/* PDF */

.iframe-popup {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  width: 100%;
  height: 100%;
}

.iframe-popup-content {
  position: relative;
  box-shadow:
    0px 0px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #343434;
  padding: 35px 20px 20px 20px;
  width: 65%;
  height: 90%;
}

.iframe-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-image: url(/images/close-white.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}


.top-content-backarrow {
  position: absolute;
  width: 25px;
  height: 25px;
  z-index: 62;
  background-image: url(/images/back-oportunity-icon.svg);
  background-repeat: no-repeat;
  left: 35px;
  background-size: 25px 25px;
}


@media only screen and (max-width: 1024px) {
  /*.main {
    padding: 0px;
    top: 0px;
  }*/

  .main {
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 90px 15px 100px;
  }

  .main > div {
    width: 100%;
  }

  .top-content-buttonsBar {
    position: relative;
    background-color: transparent;
    padding: 0px;
    top: 70px;
  }

  .top-content-buttonsBar > div {
    margin: 0px;
    width: 100%;
    flex-direction: column;
    gap: 0px;
  }

  .top-buttons-container {
    width: 100%;
    padding: 15px 0;
    background-color: rgba(33, 34, 29, 0.7);
    justify-content: center;
  }

  .label_filter {
    display: none;
  }

  .filter_container {
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    margin: 27px 22px;
  }

  .filter_input {
    text-align: center;
    width: 70%;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.77px;
  }

  .top-content-buttons {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
  }
}

@media only screen and (max-width: 768px) {
  .main {
    margin-top: 0;
    height: auto;
    display: block;
    padding-top: 0;
  }
  .top-content-buttonsBar {
    padding: 60px 0 0;
    top: unset;
    height: unset;

    position: relative;
    background-color: transparent;
  }

  .filter_input {
    width: fill-available;
  }

  .filter_container {
    padding: 10px 0;
    margin: 0;
  }

  .top-content-backarrow {
    left: 10px;
  }
}
/*
@media only screen and (max-width: 568px) {
  .main {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  .top-content-buttons {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
  }

  .filter_input {
    text-align: center;
    width: fill-available;
    font-size: 11px;
    line-height: 0.81;
    font-style: normal;
  }
}*/
