.top-content {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  background-color: rgba(33, 34, 29, 0.3);
  padding: 10px 0;
  width: 100%;
  position: fixed;
  top: 73px;
  text-transform: uppercase;
}

.top-content .icon {
  background-image: url(/images/back.svg);
  width: 40px;
  height: 40px;
}

.title {
  width: calc(100% - 40px);
}

.right-box .icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  background-image: url(/images/back.svg);
}

.pagos-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 25vh;
}

.pagos-section > div {
  justify-content: space-around;
  gap: 40px;
}

.pagos-box {
  width: 29%;
  height: auto;
  min-height: 230px;
  border-radius: 28px;
  background: #21221d;
  box-shadow:
    0px 0px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  display: flex;
  padding: 30px;
  position: relative;
}

.left-box {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.right-box {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 40px;
  right: 40px;
  transform: rotateY(180deg);
}

.box-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  text-align: left;
  margin-bottom: 20px;
  line-height: 50px;
}

.box-subtitle {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  text-align: left;
  margin-bottom: 20px;
  line-height: 50px;
}

.arrow {
  border: solid #4d4d4d;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 12px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 25px;
  height: 25px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  width: 25px;
  height: 25px;
}

.progressBar {
  width: 100%;
  height: 10px;
  position: relative;
  background-color: #fff;
  border-radius: 10px;
}

.innerProgressBar {
  width: 25%;
  background-color: #3eaaf7;
  border-radius: 10px;
  height: 100%;
  transition: all 0.15s ease-in-out;
  position: relative;
}

.iceCreamBar {
  position: absolute;
  top: 50%;
  width: 25px;
  height: 25px;
  margin-top: -12.5px;
  right: -12.5px;
  border-radius: 50%;
  background-image: url(/images/ice.svg);
}

@media only screen and (max-width: 768px) {
  .pagos-section > div {
    flex-direction: column;
    gap: 15px;
  }

  .pagos-box {
    width: 100%;
    height: auto;
    min-height: 100px;
    display: flex;
    padding: 30px;
    margin: 0px;
    text-align: center;
    border-radius: 10px;
    background: #2e2e2c;
    box-shadow:
      2px 2px 7px 0px rgba(0, 0, 0, 0.15),
      -2px -2px 7px 0px rgba(0, 0, 0, 0.15);
  }

  .left-box {
    width: 100%;
    align-items: center;
  }

  .right-box {
    display: none;
  }

  .box-title {
    text-align: center;
    margin-bottom: 0px;
  }
  .box-subtitle {
    text-align: center;
  }
}
