.top-content {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  background-color: #282624;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 70px;
  z-index: 3;
  text-transform: uppercase;
}

.top-content .icon {
  background-image: url(/images/back.svg);
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.title {
  width: calc(100% - 40px);
}

.title-movil,
.sub-title-movil {
  display: none;
}

.right-box .icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  background-image: url(/images/back.svg);
}

.pagos-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 150px;
}

.pagos-section > div {
  /*justify-content: space-around;*/
  gap: 40px;
  flex-wrap: wrap;
}

.pagos-box {
  width: 29%;
  height: auto;
  border-radius: 28px;
  background: #21221d;
  box-shadow:
    0px 0px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  display: flex;
  padding: 25px;
  position: relative;
}

.left-box {
  width: calc(100% - 25px);
  height: auto;
  display: flex;
  flex-direction: column;
}

.right-box {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: flex-start;
  transform: rotateY(180deg);
}

.box-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  text-align: left;
  margin-bottom: 5px;
}

.box-subtitle {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  text-align: left;
  margin-bottom: 70px;
}

.arrow {
  border: solid #4d4d4d;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 12px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 25px;
  height: 25px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  width: 25px;
  height: 25px;
}

.progressBar {
  width: 100%;
  height: 10px;
  position: relative;
  background-color: #fff;
  border-radius: 10px;
}

.innerProgressBar {
  width: 25%;
  background-color: #3eaaf7;
  border-radius: 10px;
  height: 100%;
  transition: all 0.15s ease-in-out;
  position: relative;
}

.iceCreamBar {
  position: absolute;
  top: 50%;
  width: 25px;
  height: 25px;
  margin-top: -12.5px;
  right: -12.5px;
  border-radius: 50%;
  background-image: url(/images/ice.svg);
}

@media only screen and (max-width: 768px) {
  .title {
    display: none;
  }

  .title-movil {
    display: block;
    width: calc(100% - 40px);
  }
  .sub-title-movil {
    display: block;
    width: 100%;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 0.78;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
  }

  .pagos-section > div {
    flex-direction: column;
    gap: 15px;
    padding-bottom: 140px;
  }

  .pagos-box {
    width: 100%;
    height: auto;
    min-height: 100px;
    display: flex;
    padding: 30px;
    margin: 0px;
    text-align: center;
    border-radius: 10px;
    background: #2e2e2c;
    box-shadow:
      2px 2px 7px 0px rgba(0, 0, 0, 0.15),
      -2px -2px 7px 0px rgba(0, 0, 0, 0.15);
  }

  .left-box {
    width: 100%;
    align-items: center;
  }

  .right-box {
    display: none;
  }

  .box-title {
    text-align: center;
    margin-bottom: 0px;
  }
  .box-subtitle {
    text-align: center;
  }
}
