.wrap-cotizaciones {
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding-top: 200px;
  max-width: 1600px;
}

.buscador {
  width: 100%;
  margin: 0 auto;
}

.buscador-contactos {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #d9d9d9;
  text-transform: uppercase;
  text-align: left;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: 1px solid #fff;
}

.buscar {
  width: 100%;
  height: 50px;
  display: block;
  padding: 10px 35px;
  background: transparent url(/images/search.svg) no-repeat 13px;
  border: none;
  border-radius: 10px;
  background-position: left;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  margin: 30px;
}

.top-cotizaciones {
  width: 100%;
  height: auto;
  padding: 60px 40px 50px;
  border-bottom: 1px solid #d9d9d9;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
}

.nombre {
  width: 40%;
}
.fecha,
.tamaño {
  width: 30%;
}

.listas-cotizaciones {
  width: 100%;
  height: auto;
  display: flex;
  padding-top: 40px;
}

.nombre-lista {
  width: 100%;
}

.accordion {
  margin-bottom: 10px;
}

.accordion-content {
  background-color: #d9d9d91a;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.accordion-btn {
  position: relative;
  background-color: #2e2e2c;
  border: none;
  padding: 15px 20px;
  text-align: left;
  cursor: pointer;
  font-weight: bold;
  list-style-image: none;
  list-style: none;
  display: flex;
  align-items: center;
  color: #fff;
}

.accordion-btn::-webkit-details-marker {
  background: none;
  color: transparent;
}

.accordion-btn::after {
  content: '›';
  position: absolute;
  top: 50%;
  left: 350px;
  font-size: 55px;
  width: 55px;
  height: 55px;
  text-align: center;
  color: #fff;
  transform: translate(0%, -50%) rotate(90deg);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-bottom: 4px;
  padding-left: 2px;
  justify-content: center;
  font-weight: 100;
  transition: all 0.3s ease;
}

.accordion-btn::before {
  content: url(/images/folder.png);
  margin-right: 10px;
}

.accordion-content input::after {
  content: url(/images/pdf.png);
  margin-left: 20px;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  mix-blend-mode: difference;
  transform: translateY(-7px);
}

.fold {
  margin-right: 50px;
}

.file {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 20px;
}

.top-content {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  background-color: rgba(33, 34, 29, 0.3);
  padding: 10px 0;
  width: 100%;
  position: fixed;
  top: 73px;
  text-transform: uppercase;
}

.top-content .icon {
  background-image: url(/images/back.svg);
  width: 40px;
  height: 40px;
}

.title {
  width: calc(100% - 40px);
}

@keyframes heightUp {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 2000px;
  }
}

.name-field {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.name-field img {
  height: auto;
  margin: 0px 10px 0px 20px;
}
.fecha-field {
  width: 30%;
}

.size-field {
  width: 10%;
}
.icons {
  width: 20%;
  display: flex;
  flex-direction: row;
}

.upload {
  width: 50%;
  align-items: center;
}

.upload img {
  width: 25px;
  height: 25px;
  margin: 0% 40%;
}

.delete {
  width: 50%;
}

.deleteContainer {
  cursor: pointer;
  width: fit-content;
  margin: auto;
}

.deleteContainer img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.movil-info {
  display: none;
}

.title-movil {
  display: none;
  cursor: pointer;
}

.submenu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  background-color: rgba(34, 34, 34, 0.95);
  padding: 15px;
  width: 100%;
  position: fixed;
  bottom: 0px;
}

.sub-close {
  height: 20px;
  width: 20px;
  background-image: url(/images/close-white.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.sub-text {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.45;
  margin-left: 15px;
}

.sub-icons {
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.sub-upload {
  margin-right: 14px;
}

.sub-upload img {
  height: 20px;
  width: 20px;
}

.sub-delete img {
  height: 20px;
  width: 20px;
}

/* popup*/

.popSuccessCreated,
.popError {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition:
    top 0s linear 0.5s,
    opacity 0.5s ease-in-out;
}

.popSuccessCreated.activePopUp {
  top: 0;
  opacity: 1;
  transition:
    top 0s linear.0s,
    opacity 0.5s ease-in-out;
}

.popError.activePopUp {
  top: 0;
  opacity: 1;
  transition:
    top 0s linear.0s,
    opacity 0.5s ease-in-out;
}

.bgPopUp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000055;
}

.popup2 {
  margin: 70px auto;
  padding: 50px 68px;
  border-radius: 5px;
  width: 30%;
  height: auto;
  position: relative;
  transition: all 5s ease-in-out;
  z-index: 9;
  top: 0px;
  text-align: center;
  border-radius: 10px;
  background: #343434;
  box-shadow: 0px 0px 46.667px 0px rgba(0, 0, 0, 0.25);
}

.popup3 {
  margin: 70px auto;
  padding: 50px 20px;
  border-radius: 5px;
  width: 30%;
  height: auto;
  position: relative;
  transition: all 5s ease-in-out;
  z-index: 9;
  top: 0px;
  text-align: center;
  border-radius: 10px;
  background: #343434;
  box-shadow: 0px 0px 46.667px 0px rgba(0, 0, 0, 0.25);
}

.popup {
  margin: 70px auto;
  padding: 40px 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  height: auto;
  position: relative;
  transition: all 5s ease-in-out;
  z-index: 9;
  top: 0px;
  text-align: center;
}

.popup h2 {
  margin-top: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.pop-text {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.86;
  margin-top: 20px;
}

.pop-text-bold {
  font-weight: 700;
}

.popup .close {
  position: absolute;
  top: 0;
  right: 30px;
  transition: all 200ms;
  font-size: 50px;
  font-weight: 100;
  text-decoration: none;
  color: #fff;
}
.popup .close:hover {
  color: #fff;
}
.popup .content {
  overflow: auto;
}

.icon-box {
  margin: 0 auto;
  color: #c7c7c7;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.icon-box img {
  width: 80px;
  height: 80px;
}

.icon-box .subir {
  width: 30% !important;
  padding: 15px 10px;
}

@media only screen and (max-width: 1380px) {
  .wrap-cotizaciones {
    margin-bottom: 150px;
  }

  .submenu {
    bottom: 93px;
  }
}

@media only screen and (max-width: 959px) {
  .submenu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background-color: rgba(34, 34, 34, 0.95);
    padding: 15px;
    width: 100%;
    position: fixed;
    bottom: 93px;
  }

  .listas-cotizaciones {
    padding-bottom: 140px;
  }

  .title {
    display: none;
  }

  .title-movil {
    width: calc(100% - 40px);
    display: inline;
    font-style: normal;
    font-weight: 500;
    line-height: 1.33;
  }

  .buscador-contactos {
    display: none;
  }

  .top-cotizaciones {
    display: none;
  }

  .wrap-cotizaciones {
    width: 90%;
    padding-top: 115px;
  }

  .file {
    width: 100%;
    min-height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    line-height: 30px;
    position: relative;
  }

  .checkbox-container {
    top: 40%;
    position: absolute;
    right: 15px;
  }

  .name-field img {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0px;
    top: 20px;
    content: url(/images/pdf-movil.png);
  }

  .fecha-field,
  .size-field {
    display: none;
  }
  .movil-info {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 60px;
    gap: 5px;
  }

  .size-field-movil,
  .fecha-field-movil {
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.6;
  }

  .separator-movil {
    color: #fff;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.6;
  }

  .name-field span {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.33;
    text-transform: uppercase;
  }

  .name-field {
    width: 100%;
    margin-left: 60px;
  }

  .icons {
    display: none;
  }

  .upload {
    width: 30%;
  }

  .delete {
    width: 30%;
  }

  .accordion-btn {
    padding-right: 55px;
    font-size: 14px;
    font-weight: 500;
  }

  .accordion-btn::before {
    margin-right: 10px;
    right: 0;
  }

  .accordion-btn::after {
    right: 0;
    left: unset;
  }
}
