@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700');
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: inherit;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
input,
select,
textarea,
button {
  outline: none;
  resize: none;
}
body {
  line-height: 1;
  /* background-color: #343434; */
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: white;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  /* font-family: 'Quicksand', sans-serif; */
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* -----------------------------------------Utilities */

/* Background */
.bg-ct {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.bg-cv {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.bg-complete {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.bg-fixed {
  background-attachment: fixed;
}

/* Images */
.ob-ct {
  object-fit: contain;
}
.ob-cv {
  object-fit: cover;
}

/* flex */

.flex {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}

.a-s {
  align-items: flex-start;
}

.a-c {
  align-items: center;
}
.a-e {
  align-items: flex-end;
}
.a-st {
  align-items: stretch;
}

.j-s {
  justify-content: flex-start;
}

.j-sb {
  justify-content: space-between;
}
.j-a {
  justify-content: space-around;
}

.j-c {
  justify-content: center;
}

.j-e {
  justify-content: flex-end;
}

.column {
  flex-direction: column;
}

.column-reverse {
  flex-direction: column-reverse;
}

.row-reverse {
  flex-direction: row-reverse;
}

/* positions */

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.abosulte-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
}

.absolute-upper-left {
  position: absolute;
  top: 0;
  left: 0;
}

/* Wrapper */

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1600px;
}

/* Cursor */

.pointer {
  cursor: pointer;
}

/* size */

.full-view {
  width: 100%;
  height: 100vh;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100vh;
}

/* Text */

.uppercase {
}

.capitalize {
  text-transform: capitalize;
}

/* Text align */

.t-center {
  text-align: center;
}
.t-left {
  text-align: left;
}
.t-right {
  text-align: right;
}

/* Images */

.square {
  aspect-ratio: 1/1;
}

.rectangle {
  aspect-ratio: 16/9;
}

@media only screen and (max-width: 1024px) {
  .main {
    overflow: hidden;
  }
}
