.wrap-gerente {
  width: 70%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 200px;
  margin: 0 auto;
}
.rol {
  width: 45%;
  height: auto;
  font-size: 23px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 29px;
  background: #2e2e2c;
  box-shadow: 0px 9.10487px 26.0139px 0px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  border: none;
  padding: 30px 0;
  font-family: "Lexend", sans-serif;
}

.rol-text {
  font-size: 14px;
  font-weight: 200;
  color: #fff;
  text-align: center;
  text-transform: none;
  font-family: "Lexend", sans-serif;
}

.btn-text-rol {
  margin: 15px 0;
}
